<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>53</integer>
	<key>LibraryBuildTag</key>
	<string>F176BAF5-4B7A-4878-83C4-4D4175F299BF</string>
	<key>LibrarySchemaVersion</key>
	<integer>4025</integer>
</dict>
</plist>
