<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bZFNT4QwEIb/S89I2i4fhZt60YubaKImxkN3GaAGCinDqtnw353CLm6ivfRjnun7vpkj
	O4AbTGfvbdmx/Mh2o2mKh7HdgWM5E9mNUixguu+fF84/ChGKJBSKU2XY19DqRziYpSoC
	1jcay861hG6fXtkUsBZQFxq1F2j1gOBeTIE10VJxajA9NMbCrwT1hRH9vsB3YKoaWZ4l
	BHfOgEWNM7ihz72UxrWXDOjiYxywJWxg+dvxHwKs3jVQsBzdCBQCEI2tBu+vPomlcUwF
	dNpfwV7bqgGWX/GQCxXzTPFNIiMRb6Tn9p2dUYunYGT0czmpLA3Y19aZynhtRerf6y1L
	LnvPOTmlMgXZN6WZx3Drut5PYcR5Ruf9j7sojDK/ZCqimMtEigvpOFs9CZHIYE2qUnnh
	KYqmaXqffgA=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2020-01-06T02:29:14Z</date>
</dict>
</plist>
