<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2020-04-10T17:04:49Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2020-04-10T17:04:49Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2020-04-10T19:39:34Z</date>
	<key>BackgroundJobSearch</key>
	<date>2020-04-10T17:04:49Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2020-04-10T17:04:49Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2020-04-10T06:04:05Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2020-04-10T19:39:35Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2020-04-10T06:04:04Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2020-04-10T18:04:20Z</date>
	<key>SiriPortraitDonation</key>
	<date>2020-04-10T06:04:05Z</date>
</dict>
</plist>
