<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2020-01-06T02:57:31Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2020-01-06T02:57:31Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2020-01-06T02:57:31Z</date>
	<key>BackgroundJobSearch</key>
	<date>2020-01-06T02:57:31Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2020-01-06T02:57:31Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2020-01-05T16:58:59Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2020-01-06T02:57:40Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2020-01-05T16:58:58Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2020-01-06T02:57:32Z</date>
	<key>SiriPortraitDonation</key>
	<date>2020-01-05T16:58:59Z</date>
</dict>
</plist>
