<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAnalysisRestoreTimestampForFace</key>
	<date>2025-12-19T01:54:11Z</date>
	<key>LastAnalysisRestoreTimestampForFull</key>
	<date>2025-12-19T01:54:11Z</date>
	<key>LastAnalysisRestoreTimestampForOCR</key>
	<date>2025-12-19T01:54:11Z</date>
	<key>LastAnalysisRestoreTimestampForScene</key>
	<date>2025-12-19T01:54:11Z</date>
</dict>
</plist>
