<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2020-07-27T00:34:02Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2020-07-27T00:34:02Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2020-07-27T01:57:21Z</date>
	<key>BackgroundJobSearch</key>
	<date>2020-07-27T00:34:02Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2020-07-27T00:34:02Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2020-07-26T14:34:46Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2020-07-27T00:01:51Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2020-07-26T14:34:45Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2020-07-27T01:57:22Z</date>
	<key>SiriPortraitDonation</key>
	<date>2020-07-26T14:34:46Z</date>
</dict>
</plist>
