<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	nVdZk6M4Ev4vfq2KbkEBxh2xD1ziMpj72t4HDJj7MOACu2P++4qq6t6a2ZnY2OFFtpT6
	Mr/8UorUj12bzXEaz/Hu249dG09zNkpZmRfz7hsBXvDnjzm/TOdi9+0F4MTzrh/LrJvj
	uey73Tfqt+fdpR/bePaycXqbwp53r++/5e7Sb8DnW9mk+q09Z+Pu2w4nxBec3D3v4mH4
	tWm334Mv4Au2x9HClBRZG1vZa/m+CJ53QxPPmx9k2cbJyd4hv3Fa3aa5RcFMu2///PEn
	cWRdfG6ydPdtHm8Zws3muezyaYupv1zQXzueb+MHFeSl7IbbzPVNj+IEX3Dw/uEHGuAv
	+MZ92nhPc5m8YUzxbGRjggIom+xAb3v2ADtQANmDPY0Te7B/3qyY29x7cXPL/gr2M9Ce
	3KyIlwOOkRR9oA978mWPv/zBSnz3R5HEAbmksRdkRB72e5SXd2ocUu6N1MffvpvHn1Mx
	iuc9Kci8TDfES/kmjt3G40cGfpr9+DX+j/QgrOQ2jggNAb3t+VUc8mcfSd9+Qdo32Zeh
	6N+s/p52RZz2y/Qf4Y7vhbtFRhHg00f9TIKELJrNavqUmWOfxM3PvT8nhXXop9uYfZpi
	x82my6bPm9kmTmqjL7v3zb+vjwHgWzgAfGhJ4XuCBChdSMyBBNvaVi17mnjBkMSblPh7
	1j8Vy39ROX92uYFjhz1FYui8kgcax/bk827uu7ix4i5/w8AINPuCo2Ik6D1NI4gBf6sx
	QP3xQ0vvdUUefv/Rz7u3xGnxgBQ8OvJN5xlcc5LHyTH3ugNejEfBnWr3YPOHo1kfBE9I
	Q7tZ9VA4tG7AaHxOy/yS6xyzQG5xjywz8dwiHJmc0EQ2nzWbABrvLvpDI3V+wowqZU6C
	TFkOphhg5RzguRZWqIFAFg6eOoWJ+7xZn7icUHkz19llw9WOjDmx/MpEIgfux8pc9Ip5
	0R41MHj3SQcCYT5m0XDr718dVzEtz5J8YU4dHxpRQ8GIFHQrp3V+WY7MMnHcEqIAJ5tb
	aAOydfxBHNN4RLx6J27yv4hrZsN+ECfamGdvYTiPraVaAsuYQiHYvLkcWXPDBUchp12x
	IGatJB7HxxtxCjnGDOcXcRkRZx1g2VZTp5ENB8k/lLWPh/rQ2wObNZDS7KJgXKFIbMgQ
	Fl8kicwtiLj2qrPEi8bXj434ETCrWVmC7ibAfngnDZNH755eFCGpDJshpFJLpXVJJRac
	JTYJoWU6wgJOKKE6XJeL+mDOYrEkkgUuyp3p5fvUadwsq6D3HEvXBNDbti0Q8qMudFsY
	YZVkOgsGid329LHI1h60NJtnpiO3LKFky+NxnWK0nkoc08n3vj5y4SrVgmutjSMDuTLv
	KaMJwuqWugexpPQqzzk2Znxi81fRriO1cAu+YJDwk8KtfabY06tY9Im48bi7lVqGd9Wt
	EY68SCWdahaxSnciUArFE2BuuMvhiArSgMWEi3ca+Xdv0HYNhaHNrUDFu9CqJbHhoZwQ
	F/muDbIrnE1r1SQOpHqxqpLgJsZC93yenziTkLdC5NjkBd5pHwl9FUrXkws54dblyJnL
	WUZxH9mN95RIBVHJj7CxykhGOmSqBXq0Hihr4vMF0KUc1Lwd6nJhpohXIJqoLu+uIVt1
	AdlFg/kkI96VatWeaOWbPoi3VuucJ8mY2fq2flZgDQJBTzQILqpF9DKXJ0qxtJCdXNGS
	fX41XbiGLmQ1B+ZLyguMLpbaVWTdCGkWIe6ZwhIktARfWBNk6waQnaNj09d+kUqQ7R2R
	NSPIJh4aPViEDly1QCiIQLTMmF8T3VnoVL7XgbCio1HktliYF8gRkbbmTyJLhJKVZ/Au
	BCKrJUINbGdVjkI9WY4Vfv8qVnRpWSGNDt/mAIEkFp8vEeSEUilCG/JEbtx1XgHL6Nve
	Xn6hC+Mu0/IDnJEwtOgRhF8N+UkUsNDxzpo3LSG3BrIAbgFLfP+K7gwLrjKq9N6V7nIL
	CxcE/BCfWp0L3ZvkhaRfN3gRXGE58Lf0GFvKtT51Mg6yeF1rSWQij21C0dOCiGcHTarJ
	7A5HwQQaZ2mZbLuewBeNITJ0JCiVPTR+I6iWQZBhi1GdQylOU2eyKa7suVZ6o+kPoaPn
	ai1ETgkrTdJAyg/EqWNsMwcyvy65wpqG7iWE/5gjozkIMbidFGK6lvcsUQai6krIacI0
	u+Ugqxg9etyay55g6Plhgq2MhyXUVJ+g4rLJOXQlC6xWQIZe3UdR6U1IBwIsrMA0ioKz
	YHQ4dl7cJtehHTyuNtrpKXSw1vAT3C/nhCeEtaqukilreMYXrS4ymmeCgrdkl69YU/cW
	zHeG3GwtLnEVQiPMLChYln9MacOfIodMjfKhXzQ8fIS8PhgdxpZiWdnXhSrWg3tsiD5g
	MJdnaV1YtZPayMBzWFVvtL33WGPDn3lUZt+/6k0P/Af0NMiUZ15fTyLJxrz3qksyFT8K
	SvdyEDh6DIHmmivUeRudinyRhJzI7JLkVUxYnSry9UYm/WpOTUl4SnnyfvJpMrGjXoIg
	OJX6TccA8HloakJycznMPAJQ2/dUFIXJVFkP8GxRjd6t8ikv6jD/4l3TaIBq4USD2AE8
	c1Bj2zXX1ItTq6+vrUEJ1LXyW011b8OdytQrPY53iYNHzTSWg8T3ru7ApyaKo6Zv8CyM
	1rLH0eVGsXUvnsaIUrrBj81YUfpGbJNYma9dezvHFBzRWISxd+5F/JEcD69razDmKKyA
	Zcjwqhejnd3sCfZkWxHRBeaH5nINqaIccDEJB1i1re1Gylw3vp9GV9g2eBxGw9D2vt/H
	VB6N+dPKq5pm5tOeW4dy8MUqjMny6otduE8rhLNsfpoNT1mLtlU9BFB2rVqEZFF37SkO
	Sa/u2/gcXYdxwm9777xWr9YTLlGhPcLXILwoFSU6RXBS1KbBy+CoJI2Ha0G4Zp3IhaES
	5a0vovHNT4ryU9TNU+INTYTiHcO9HE05hQnH2qpZ9ftXyQibA6guwvevUVR5+OJT0bnx
	bkagsGkPn4JgSLO25ZxQGfIOPtVhzOaNz138CPppE5EhZbXjai88RehXE695Zc6uIrpU
	JjabIJ4H0XousTsfqGk2YlQeKtalxig7IPW89Z6aMIZ556OMxLBsWhEpxFZTa1PRnkUZ
	oGhpH+qWR12CgcxuDbUE8XpGFQV8qklqFG9ApZfOe7ojxpcK56pwWMtORJkl1y0DgRVZ
	l14UKwvh9r7dxSrAqkIYgsTbOoYouB7SDqPW4AzTq4cyep6z3qOcYPSy6xbvuSh6X3TD
	CEP7xXNINt3SUOcTtbavYjbG9GyOTRvByvwHeiU0W//8uxfOC4X/sWldinLOPppW7A8d
	MWr2B+ytGwZ/0g4XqO1Us/vb44qgMBzHaJoG+z2F458eO//H68bpu+yvHjd//YT424+b
	f/32bw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentRenderTypes</key>
	<integer>18688</integer>
	<key>adjustmentTimestamp</key>
	<date>2025-12-21T14:56:45Z</date>
</dict>
</plist>
