<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changeTokenByIncrementalKey</key>
	<dict>
		<key>PHAGraphRebuildTaskIncrementalKey</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkRTE3MzgzNEQtQTlGRC00REY5LUJDMUItRDkwNTNCNzRGN0E2
			EQEp0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25h
			cnmiJCZYTlNPYmplY3TSIiMoKV8QGV9OU1BlcnNpc3RlbnRIaXN0
			b3J5VG9rZW6jKismXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tl
			bl8QGE5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbtIiIy0uXxAXUEhQ
			ZXJzaXN0ZW50Q2hhbmdlVG9rZW6iLyZfEBdQSFBlcnNpc3RlbnRD
			aGFuZ2VUb2tlbgAIABEAGgAkACkAMgA3AEkATABRAFMAXQBjAGoA
			gwCLAJIAlACWAJgAnQDCAMQAxgDNANUA4ADiAOQA5gDoAOoBEQEU
			ARkBJAEtAToBPQFGAUsBZwFrAYcBogGnAcEBxAAAAAAAAAIBAAAA
			AAAAADAAAAAAAAAAAAAAAAAAAAHe
			</data>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkRTE3MzgzNEQtQTlGRC00REY5LUJDMUItRDkwNTNCNzRGN0E2
			EQEp0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25h
			cnmiJCZYTlNPYmplY3TSIiMoKV8QGV9OU1BlcnNpc3RlbnRIaXN0
			b3J5VG9rZW6jKismXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tl
			bl8QGE5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbtIiIy0uXxAXUEhQ
			ZXJzaXN0ZW50Q2hhbmdlVG9rZW6iLyZfEBdQSFBlcnNpc3RlbnRD
			aGFuZ2VUb2tlbgAIABEAGgAkACkAMgA3AEkATABRAFMAXQBjAGoA
			gwCLAJIAlACWAJgAnQDCAMQAxgDNANUA4ADiAOQA5gDoAOoBEQEU
			ARkBJAEtAToBPQFGAUsBZwFrAYcBogGnAcEBxAAAAAAAAAIBAAAA
			AAAAADAAAAAAAAAAAAAAAAAAAAHe
			</data>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkRTE3MzgzNEQtQTlGRC00REY5LUJDMUItRDkwNTNCNzRGN0E2
			EQEp0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25h
			cnmiJCZYTlNPYmplY3TSIiMoKV8QGV9OU1BlcnNpc3RlbnRIaXN0
			b3J5VG9rZW6jKismXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tl
			bl8QGE5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbtIiIy0uXxAXUEhQ
			ZXJzaXN0ZW50Q2hhbmdlVG9rZW6iLyZfEBdQSFBlcnNpc3RlbnRD
			aGFuZ2VUb2tlbgAIABEAGgAkACkAMgA3AEkATABRAFMAXQBjAGoA
			gwCLAJIAlACWAJgAnQDCAMQAxgDNANUA4ADiAOQA5gDoAOoBEQEU
			ARkBJAEtAToBPQFGAUsBZwFrAYcBogGnAcEBxAAAAAAAAAIBAAAA
			AAAAADAAAAAAAAAAAAAAAAAAAAHe
			</data>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>upgradeDate</key>
		<date>2025-07-23T20:09:06Z</date>
		<key>version</key>
		<integer>3</integer>
	</dict>
	<key>nonIncrementalRunRecords</key>
	<dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T20:17:16Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>50</integer>
			<key>featureCode</key>
			<integer>400</integer>
			<key>featureCompleteInterval</key>
			<real>1630507</real>
			<key>version</key>
			<integer>801</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-08-11T18:55:22Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>1637176</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T20:17:36Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>1636528</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>records</key>
	<dict>
		<key>FeaturedCollectionElectionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T20:09:22Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>1628933</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>GraphSearchEntityRankingDonationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T20:17:36Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>1636528</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>MemoryCreationFeatureAvailabilityTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T20:04:37Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>800</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>MessagesBackdropGenerationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T20:08:49Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>117</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>MessagesContextualBackdropGenerationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T20:09:05Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>118</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAAssetRevGeocodeEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-16T09:45:59Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>35444</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHACachingCPAnalyticsPropertiesTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T20:04:37Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>35461</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAContactUpdateTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-16T05:39:59Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>1630507</real>
			<key>version</key>
			<integer>801</integer>
		</dict>
		<key>PHAExternalAssetsTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T21:50:26Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>28172481</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAFeaturesUsageReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T20:04:36Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>35461</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAForcedHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-16T05:40:16Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>102</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-16T05:39:59Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>featureCheckpoint</key>
			<integer>50</integer>
			<key>featureCode</key>
			<integer>400</integer>
			<key>featureCompleteInterval</key>
			<real>1630507</real>
			<key>version</key>
			<integer>801</integer>
		</dict>
		<key>PHAHighlightCollectionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-16T05:40:16Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>1636513</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-16T05:40:16Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>50</integer>
			<key>featureCode</key>
			<integer>102</integer>
			<key>featureCompleteInterval</key>
			<real>1662093</real>
			<key>fteInterval</key>
			<real>1662093</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMediaSampleReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T20:04:37Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>35461</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T21:51:07Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>fteInterval</key>
			<real>1637176</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoryElectionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T21:51:03Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>101</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAPeopleSuggestionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T21:50:26Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>1630684</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAPortraitDonationEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-16T01:44:57Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>1638362</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHARevGeocodeSyndicationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-16T01:44:57Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>28172242</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-16T05:40:32Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>fteInterval</key>
			<real>1636528</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASuggestionGenerationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T20:09:22Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>50</integer>
			<key>featureCode</key>
			<integer>100</integer>
			<key>featureCompleteInterval</key>
			<real>2099532</real>
			<key>fteInterval</key>
			<real>1628933</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASyndicationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T21:50:26Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>28172481</real>
			<key>version</key>
			<integer>25</integer>
		</dict>
		<key>PHAWallpaperWeeklyTask[Ambient]</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T20:08:49Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>28166383</real>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<key>PublicEventCacheInvalidationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T02:13:36Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>1630504</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PublicEventCacheRefreshTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-14T20:17:13Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>28166887</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PublicEventCachingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-16T05:39:59Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>1630504</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
