<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changeTokenByIncrementalKey</key>
	<dict>
		<key>PHAGraphRebuildTaskIncrementalKey</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkRkU5NDFDQ0UtM0FGNC00MjQzLTkwN0MtQzIyMzNDMDkwMDhE
			EQIG0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25h
			cnmiJCZYTlNPYmplY3TSIiMoKV8QGV9OU1BlcnNpc3RlbnRIaXN0
			b3J5VG9rZW6jKismXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tl
			bl8QGE5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbtIiIy0uXxAXUEhQ
			ZXJzaXN0ZW50Q2hhbmdlVG9rZW6iLyZfEBdQSFBlcnNpc3RlbnRD
			aGFuZ2VUb2tlbgAIABEAGgAkACkAMgA3AEkATABRAFMAXQBjAGoA
			gwCLAJIAlACWAJgAnQDCAMQAxgDNANUA4ADiAOQA5gDoAOoBEQEU
			ARkBJAEtAToBPQFGAUsBZwFrAYcBogGnAcEBxAAAAAAAAAIBAAAA
			AAAAADAAAAAAAAAAAAAAAAAAAAHe
			</data>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkRkU5NDFDQ0UtM0FGNC00MjQzLTkwN0MtQzIyMzNDMDkwMDhE
			EQIF0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25h
			cnmiJCZYTlNPYmplY3TSIiMoKV8QGV9OU1BlcnNpc3RlbnRIaXN0
			b3J5VG9rZW6jKismXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tl
			bl8QGE5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbtIiIy0uXxAXUEhQ
			ZXJzaXN0ZW50Q2hhbmdlVG9rZW6iLyZfEBdQSFBlcnNpc3RlbnRD
			aGFuZ2VUb2tlbgAIABEAGgAkACkAMgA3AEkATABRAFMAXQBjAGoA
			gwCLAJIAlACWAJgAnQDCAMQAxgDNANUA4ADiAOQA5gDoAOoBEQEU
			ARkBJAEtAToBPQFGAUsBZwFrAYcBogGnAcEBxAAAAAAAAAIBAAAA
			AAAAADAAAAAAAAAAAAAAAAAAAAHe
			</data>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkRkU5NDFDQ0UtM0FGNC00MjQzLTkwN0MtQzIyMzNDMDkwMDhE
			EQII0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25h
			cnmiJCZYTlNPYmplY3TSIiMoKV8QGV9OU1BlcnNpc3RlbnRIaXN0
			b3J5VG9rZW6jKismXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tl
			bl8QGE5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbtIiIy0uXxAXUEhQ
			ZXJzaXN0ZW50Q2hhbmdlVG9rZW6iLyZfEBdQSFBlcnNpc3RlbnRD
			aGFuZ2VUb2tlbgAIABEAGgAkACkAMgA3AEkATABRAFMAXQBjAGoA
			gwCLAJIAlACWAJgAnQDCAMQAxgDNANUA4ADiAOQA5gDoAOoBEQEU
			ARkBJAEtAToBPQFGAUsBZwFrAYcBogGnAcEBxAAAAAAAAAIBAAAA
			AAAAADAAAAAAAAAAAAAAAAAAAAHe
			</data>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>upgradeDate</key>
		<date>2025-11-04T13:01:21Z</date>
		<key>version</key>
		<integer>3</integer>
	</dict>
	<key>nonIncrementalRunRecords</key>
	<dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T02:13:41Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>50</integer>
			<key>featureCode</key>
			<integer>400</integer>
			<key>featureCompleteInterval</key>
			<real>418</real>
			<key>version</key>
			<integer>701</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2025-11-10T15:41:59Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>528038</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T02:14:08Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>422</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>records</key>
	<dict>
		<key>FeaturedCollectionElectionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T01:23:08Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>365</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>GraphSearchEntityRankingDonationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T02:14:08Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>422</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAAssetRevGeocodeEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T01:41:22Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>419</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHACachingCPAnalyticsPropertiesTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T01:41:38Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>527661</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAContactUpdateTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T02:13:36Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>419</real>
			<key>version</key>
			<integer>701</integer>
		</dict>
		<key>PHAFeaturesUsageReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T01:41:38Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>527661</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAForcedHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T02:13:51Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>102</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T02:13:41Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>50</integer>
			<key>featureCode</key>
			<integer>400</integer>
			<key>featureCompleteInterval</key>
			<real>418</real>
			<key>version</key>
			<integer>701</integer>
		</dict>
		<key>PHAHighlightCollectionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T02:13:51Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>420</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T02:13:51Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>50</integer>
			<key>featureCode</key>
			<integer>102</integer>
			<key>featureCompleteInterval</key>
			<real>528060</real>
			<key>fteInterval</key>
			<real>528060</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMediaSampleReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T01:41:38Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>527661</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T01:23:08Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>fteInterval</key>
			<real>528038</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoryElectionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T01:23:05Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>101</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAPeopleSuggestionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T01:22:42Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>528019</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAPortraitDonationEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T01:41:22Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>527965</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T02:14:08Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>422</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASuggestionGenerationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T01:23:08Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>50</integer>
			<key>featureCode</key>
			<integer>100</integer>
			<key>featureCompleteInterval</key>
			<real>365</real>
			<key>fteInterval</key>
			<real>365</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PublicEventCacheInvalidationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T02:13:36Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>415</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PublicEventCachingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-06-11T02:13:36Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>415</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
