<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>369</integer>
	<key>LibraryBuildTag</key>
	<string>71EE3C90-6321-40D4-96FC-79B95A7280E5</string>
	<key>LibrarySchemaVersion</key>
	<integer>4025</integer>
</dict>
</plist>
