<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2022-02-04T13:51:40Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2022-02-04T13:51:39Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2022-02-04T13:51:40Z</date>
	<key>BackgroundJobSearch</key>
	<date>2022-02-04T13:51:40Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2022-02-04T13:51:39Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2022-02-04T13:51:40Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2021-07-20T05:48:08Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2021-07-20T05:47:59Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2022-02-04T13:51:40Z</date>
	<key>SiriPortraitDonation</key>
	<date>2022-02-04T13:51:40Z</date>
</dict>
</plist>
