<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configuration</key>
	<dict>
		<key>client.request.throttle</key>
		<dict>
			<key>forget-after</key>
			<integer>3600</integer>
			<key>give-up-after</key>
			<integer>1800</integer>
			<key>start-after</key>
			<integer>2</integer>
			<key>wait-at-least</key>
			<integer>2</integer>
			<key>wait-at-most</key>
			<integer>60</integer>
		</dict>
		<key>max.days.inRecentlyDeleted</key>
		<integer>30</integer>
		<key>max.num.photosToImport.daily</key>
		<integer>50000</integer>
		<key>max.num.photosToImport.hourly</key>
		<integer>5000</integer>
		<key>max.num.recordsToUploadPerBatch</key>
		<integer>200</integer>
		<key>max.num.resourcesToDownloadPerPush</key>
		<integer>30</integer>
		<key>max.num.resourcesToUploadPerBatch</key>
		<integer>8</integer>
		<key>photo.derivatives</key>
		<array>
			<dict>
				<key>pixels</key>
				<integer>172800</integer>
				<key>type</key>
				<string>thumbnail</string>
			</dict>
			<dict>
				<key>pixels</key>
				<integer>3145728</integer>
				<key>type</key>
				<string>preview</string>
			</dict>
			<dict>
				<key>pixels</key>
				<integer>8388608</integer>
				<key>type</key>
				<string>fullSize</string>
			</dict>
		</array>
		<key>refresh.interval.seconds</key>
		<integer>7200</integer>
		<key>video.derivatives</key>
		<array>
			<dict>
				<key>pixels</key>
				<integer>921600</integer>
				<key>type</key>
				<string>PosterFrame</string>
			</dict>
			<dict>
				<key>pixels</key>
				<integer>230400</integer>
				<key>type</key>
				<string>PosterFrameThumbnail</string>
			</dict>
			<dict>
				<key>type</key>
				<string>720p</string>
			</dict>
			<dict>
				<key>type</key>
				<string>360p</string>
			</dict>
		</array>
	</dict>
	<key>lastUpdate</key>
	<date>2020-04-10T23:03:25Z</date>
</dict>
</plist>
