<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudVersion</key>
	<string>0F70E99F-DAAD-497B-8DD9-8D77BB5F5CD2</string>
	<key>localVersionToken</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwRGRobIVUkbnVsbNINDg8Q
	ViRjbGFzc18QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmABoAC0xIT
	DRQWGFdOUy5rZXlzWk5TLm9iamVjdHOhFYADoReABIAFXxAkODcyRUIyNjItMEE3Mi00
	NkRGLThCQUUtRUI0MDMxQTMwNkRBEQNR0hwdHh9aJGNsYXNzbmFtZVgkY2xhc3Nlc1xO
	U0RpY3Rpb25hcnmiHiBYTlNPYmplY3TSHB0iI18QGV9OU1BlcnNpc3RlbnRIaXN0b3J5
	VG9rZW6jJCUgXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tlbl8QGE5TUGVyc2lzdGVu
	dEhpc3RvcnlUb2tlbgAIABEAGgAkACkAMgA3AEkATABRAFMAWwBhAGYAbQCSAJQAlgCd
	AKUAsACyALQAtgC4ALoA4QDkAOkA9AD9AQoBDQEWARsBNwE7AVcAAAAAAAACAQAAAAAA
	AAAmAAAAAAAAAAAAAAAAAAABcg==
	</data>
	<key>storeUUID</key>
	<string>872EB262-0A72-46DF-8BAE-EB4031A306DA</string>
</dict>
</plist>
