.metrics
.DS_store
__pycache__/
.coverage
.condaauto
t.out
.vscode/
.tox/
.idea/
dist/
build/
working/
osxphotos.egg-info/
.mypy_cache/
cli.spec
*.pyc
docsrc/_build/
venv/
.python-version
cov.xml
pyrightconfig.json
.workingon
docs/.buildinfo.bak
.envrc
