build
cogapp>=3.3.0,<4.0.0
furo
m2r2
pdbpp
pyinstaller==4.10
pytest-cov==3.0.0 
pytest-mock
pytest==7.0.1
Sphinx
sphinx_click
sphinx_rtd_theme
sphinx-copybutton
sphinxcontrib-programoutput
twine
wheel