build
bump2version==1.0.1 
cogapp>=3.3.0,<4.0.0
furo
m2r2==0.3.3.post2
pdbpp
pyinstaller==5.13.2
pytest-cov==4.0.0 
pytest-mock
pytest==7.4.0
ruff==0.0.286
Sphinx
sphinx_click
sphinx_rtd_theme
sphinx-copybutton
sphinxcontrib-programoutput
twine
wheel
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability