black
build
bump2version==1.0.1
cogapp>=3.3.0,<4.0.0
furo
isort
m2r2==0.3.3.post2
pdbpp
pyinstaller>=6.11.1
pytest-cov==4.0.0
pytest-mock
pytest>=7.4.0,<8.0.0
rstcheck>=6.2.4
ruff==0.11.8
Sphinx
sphinx_click
sphinx_click_custom
sphinx_rtd_theme
sphinx-copybutton
sphinxcontrib-programoutput
twine
wheel
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
