include osxphotos/*.json
include osxphotos/*.md
include osxphotos/phototemplate.tx
include osxphotos/queries/*
include osxphotos/templates/*
include README.md
include README.rst
recursive-include osxphotos/docs *