<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	lZNRb9owFIX/SuXnDMVJnDh5o6DRqhqdoCqVpj5cyAW8JXZkO50qxH+fnVAYdFPVx2t/
	995zjpMdeUFthJK3cq1IsSPLVlTltK2XqElBaH7NOQkINM1jz/lDSgc0HVAeuhuz2mIN
	M3wR/S0NSFOBXStdO/R+/kT2AanRQgkW/IIajEW9EKXdkiJJaOoaRIOVkHha4foGiZve
	wzcoNltLijimUUCUFigt2I5M3XS/C+yx2SmA8mdrbO0wQ4ofu38QKGFZYUkKq1t0LtBa
	ITfGCxSyae0dvp6Kb2i3qjypy7yniwnjyX2DulM1qsCYKdTo0PFkBr/HuFIlHu/JGX1b
	OpliLbq8Z3cf4WNhXL6vh/Gz4eLqq0vu6qGVTr/XJT6ctw8+mYhar105B9seJhRh0Ccz
	UpXSXWn8ixgrVl2HAfsd9corqTDnjhjkIeM8ihlnjIYRi/PAU8PWqkeoWvRImCeUZmlC
	k4TnWcJ4FJxPypjHIspSnkZZyhgLUxonF9SkX8izbmMSh6FD85y6cHonI/dVdaIPpZJW
	90eX+c1r0AeTn06tC+i6gtWvoSwXW2Gdxy9OPcvDNOQ8pxmLWJbRNxkTDUL+JWtuNcqN
	/0uOR1NsndJqAnUN71M/+rvp4nyrHpTE/1k7l7d/3v8B
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentTimestamp</key>
	<date>2020-03-14T20:09:47Z</date>
</dict>
</plist>
