<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MigrationService</key>
	<dict>
		<key>State</key>
		<integer>4</integer>
	</dict>
	<key>MigrationService.LastCompletedTask</key>
	<integer>12</integer>
	<key>MigrationService.ValidationCounts</key>
	<dict>
		<key>MigrationDetectedFaceprint</key>
		<integer>6</integer>
		<key>MigrationManagedAsset</key>
		<integer>0</integer>
		<key>MigrationSceneClassification</key>
		<integer>44</integer>
		<key>MigrationUnmanagedAdjustment</key>
		<integer>0</integer>
		<key>RDVersion.cloudLocalState.CPLIsNotPushed</key>
		<integer>7</integer>
	</dict>
</dict>
</plist>
