<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<date>2019-12-27T04:12:36Z</date>
	<key>derivativesCount</key>
	<integer>2</integer>
	<key>thumbnailsCount</key>
	<integer>0</integer>
</dict>
</plist>
