<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	nVffl6I6Ev5ffJ3Z3oCoOOfsQ0iCoAQJ6Kizuw+odKD9gQpO4N4z//tW0J7bc8+9L9sP
	zRGSL1VfVX1V+b33PbtVRXn2z69l78vvve29OO7D+2mb3XpfesbYse3e5156uXx9rNMv
	DePFGL4YNoIv1S7PTmmcfS8eX43PvcsxrV/L2wmWzpN178fn3imr031ap/qAU1rV2W1V
	7Ou898VCfRM2FJfsWJyzP46AfS8WoD8We1kh87r3pY9M63OvvBXZuU7rbuUQ0PVZaf1z
	M1iQ7t/uVX2CZVXvy79//4sV2TndHrN970t9u2fgRVbXxVlW2sDy9RV+BuUuPQaPc9Hn
	50sPfh/1u6p7WZwv9/q55h/oxbT7tjnqG+OBPRqatj1838aaS1ndb9kHJOeY7g5RWZw/
	wjs3jXXOqgd8pZ2s6mLXmXVBJrx9Qag/No3B0B6aI2uAxjbqA4ED1H0zjNHQGqGBbZv9
	gTm2NBX3uvyaHu/68Jf+YDREH/5g6/ajIRrdGI+GAwMCMxjbpjEafO7V5Tk9xulZZo9D
	xmiIIPgD+D8cDrrzzcHf2za2u6N/NcwAcjomeXqBeBPFAiwrQgWfM2UvibEMsFKMXvj8
	lPOQSRVSgTwqNqGjPqVstgsZRianZT5trDfq+/NY6e+HAIvKIWr5wMM8dBqc0sYPt7ii
	FIvogsdDF9vCU9WcSgl4lWDXKqTSStlhmUcJe/Ou5akR9ivFh8DBGo8FjtB4fuhga88K
	FrjYuAAe7B96tFmu3WYyBhsDipVHcRV4WCUUCRG37Ohvq9UdWyFR+jw1JcrXdrrw5Bjs
	ZoVIjtre9Y672s9+9c2L2xW9LudMVBEVMiSimtEYJ3HiLvyRiguBOFEb4KnyiDpwIiuf
	KAF+I0ZltQ3EvSaIhVvRXIG3yE3YZZLu4lbYc+r4gIfAjjL0k1ngb0WwlWgOONouwNnp
	J/hbwTtFuv0CfSMDFCyx0aerQ+hK+zL9zV5e48ijypoTiaZUlAGNk8tkpAJXorCLQ4cn
	OcHwXR0e63RcMJpQXAY3XDG6LsOtQtMZsa5lnA0YVTETFsS8Ckk+Q24qgW8L7JUB6fAO
	8FRTKvVT44G9Urnw5BTfW+Ah3OOBQQtx4/np4nI/uedYUWlDnIFfaUVU2X6H94wvEfYD
	H1sz2sUJ/JdVMMHVrONVfXJo/xDNiiOb8GVSOguXOSxiEiW02SUQ+5nmzZE6HhAv/LRT
	arwD/Nbx4hHEKSHIDi6wjm5YVCT+hRVqWcdrh8V+lMF/5i6XiQROdV0IWCd2H+y0ONO8
	COR2+a7sWNs3FQbkqz0vHMf0HCtizmzItnzdxrMNeztkKzwWj/2P+Gr/ILbBLSbf/R1P
	9krjLXV+MtpgOK+WdCE5k2bIch4zZfnMZuvW8b+yeLNYOe6GJrBOmD6d+tE1br97I7tQ
	ZFbTkRBXYX0H+7SdM8CdAz8RaXFUKLSiJQO+7ADqL7pKK2QXnrSOG9EWhZ6A/N34/Ijv
	GWkq7TfkkQX5B35LFEPcAKsEboD3WAahQIbrbBZZ7IdaH4hDZy7fiDYOuNselp6080e+
	aL+1fnT5qP2HeOm4WD7wC/kIPDYsnOJmoeueqU+C6RhI8BuiwIBbFvPVLBYpje2nznTx
	mTyfToer81HjaT8aAflg3EizCSdaby54AfoWU7mLqngRuPYhuTasYkSGXpcv7zibn/iP
	OAGejg9eBhD7KYH4cIUiitH8rXHvk1hpvzk74uQYv8bUkMIXaEOxnBPQI40Heflur/fQ
	H+RrXYH3wGUJeVqPSePzShg2OyM5xbYErpdNjjOW78LAma6Bb71+0umwtLw/6kdqvXW0
	nY/zuOZbAF5QqZrTdbXeY+vmt7v4nE8jl/PEbdiKubtvK4wETZfRVdWhzktdN8B/CHUy
	fegu1CveaB484DGYg46ToQx3TawozC08dvpuIJNTvPBYDHmWT9fst0rn5XZytTdHbDoQ
	16ffJeCCbggJulvtNb6r6hsZwrnCQOykojTZXKeHzaKWdgx9IW4w6BjiSagqqN8dd9R9
	Nkn57i7aN11/2t8uz6GWOh5E9VXHZ43bBV1V4hseSNour3lOanYrI9AgQYUVwJoW8hn6
	BdR3p1/1ZbJFucpnijSdDkO/8gPW8WsHK9zG1FOga+M9NTaR0zLTHYnk3jghYGld46RB
	YqK1XeehRE8dbzbsis4qb03qCe13lwcM11s6RfwoVcAmh+ibsjzaVueTtBOo8xDqvdNv
	iDf0WrUEOyAPl/yha52fS3rF0W8C0Wdecahv7mAzpRTwxJgDL9Gk8G9swUWNP8W6L4IO
	6P0RyYVwc9HlOeSpzpdnfoL+CP7M/5KvRSspKXmGx0d61LpnffWIn3GtG4EVgTbwh96i
	KcPWGnr7+lk3ur898flPvwk2CmKpoBRqQs1D+E1BHeRqPWnUnSab+IYt0Bil9+v6ECT3
	V5OmDCZdn2VazyGvGYd8f/fboQzqHN9T0LloI40t1P+cOGLh5pvYBz6pQnCu7j0wTzTJ
	J4b4dhrbF+Drp25APyPPuUDbybmsG2JBvsnxlS5tXf9e12scH3S80nnj66fWL2JaOxXL
	Nz+pijd8Pz3t0vNK8O43FsaGDPygVNV//knNXZjqxI0ViB6eMt24sR6IYNjA2lFwQBiG
	d1sKv9jel59ksOsSUQ8sOhHehQqIEvelbrgwGCgQKD7BSDe8CBoqCH+lG/5MG/ooQBm9
	OcPvbnk4y3avSOvrxq3x/gXz/lFP3fiXkXVoWh9HVpgbVV7U2XNkNV7MkW31jf7IHFhj
	mE1hXr0Y6G+n0RxmzlnW6u9jawBzrjkejsfm2BiY/R/vczgpz/UNbh4fRvMkT/dAHLyB
	VcUebhbFa9FdkZJTeqsX5TmDi87/ddNI0vp+e15n3i8VpDyWN22kgYY/rxMwkP/5UlCl
	dZTddtqcY/YYtG09XcMI3++DYzDFA2Gw6hdOzSeXJnBi9k19qfoFaPSY5p+0DvWkP4KL
	mv2nZRN9oPEHa78y9oHEv6Ts4eKP//74Hw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentTimestamp</key>
	<date>2020-04-19T01:20:49Z</date>
</dict>
</plist>
