<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>171</integer>
	<key>LibraryBuildTag</key>
	<string>9689BC67-F0CE-460F-B268-CF82E1F1BFC5</string>
	<key>LibrarySchemaVersion</key>
	<integer>3301</integer>
</dict>
</plist>
