<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Photos</key>
	<dict>
		<key>CollapsedSidebarSectionIdentifiers</key>
		<array/>
		<key>ExpandedSidebarItemIdentifiers</key>
		<array>
			<string>TopLevelAlbums</string>
			<string>QtSnVvTkQ%i2z3hB834M1A</string>
			<string>TopLevelSlideshows</string>
			<string>N7eQ4VhfTfeHFp9PPHaJDw</string>
		</array>
		<key>IPXWorkspaceControllerZoomLevelsKey</key>
		<dict>
			<key>kZoomLevelIdentifierAlbums</key>
			<integer>5</integer>
			<key>kZoomLevelIdentifierVersions</key>
			<integer>7</integer>
		</dict>
		<key>lastAddToDestination</key>
		<dict>
			<key>key</key>
			<integer>1</integer>
			<key>lastKnownDisplayName</key>
			<string>Pumpkin Farm (1)</string>
			<key>type</key>
			<string>album</string>
			<key>uuid</key>
			<string>xJ8ya3NBRWC24gKhcwwNeQ</string>
		</dict>
		<key>lastKnownItemCounts</key>
		<dict>
			<key>other</key>
			<integer>0</integer>
			<key>photos</key>
			<integer>6</integer>
			<key>videos</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
