<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstSeenDates</key>
	<dict>
		<key>com.apple.photos.CPAnalytics.addAssetsToLibrary</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.appleMusicPreparationFailed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.appleMusicPreparationSucceeded</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.appleMusicPreparedToPlay</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.appleMusicSongDownloaded</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetCollectionBlocked</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetCollectionDeleted</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetCollectionFavorited</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetCollectionMoviePlayed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetCollectionUnfavorited</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetCollectionViewed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetExportItemPreparationCompleted</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetExportPreparationCanceled</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetExportPreparationCompleted</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetExportPreparationFailed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetFavorited</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetSharedStandardSelectionSize</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetUnfavorited</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetViewed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetsDeleted</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetsDeletedFromTrash</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.assetsRestored</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmAddAssetToLibrary</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmPublishFromDetailViewMenuAction</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmPublishFromForYouSendBackSuggestions</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmPublishFromForYouSuggestion</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmPublishFromMessagesSuggestion</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmPublishFromShareSheet</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmPublishFromUnknown</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmReceivedSharesOpened</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmReceivedSharesSeen</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmSentSharesOpened</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmSentSharesSeen</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmShareBackOpened</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmShareBackPresentable</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmShareBackShown</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmSuggestionComposeFlowOpened</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmSuggestionOpened</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.cmmSuggestionSeen</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationEventFailed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationEventOneUpSelect</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationEventSkip</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationFromAlbumSection</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationFromAlbumSelection</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationFromOneUpMergeAll</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationFromOneUpSelection</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationFromUnspecified</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationMerge1</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationMerge11+</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationMerge2</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationMerge3-5</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationMerge6-10</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationMergeAll</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.deduplicationSkipPerceptualMerge</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterAllItemsSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterDuplicatesSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterEditedSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterFavoritedSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterHeaderSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterIncludeSharedWithYouSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterKeywordHeaderSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterKeywordManagerSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterKeywordsSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterPhotosSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterSavedItemsOnlySelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterSharedLibraryAllDisplayed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterSharedLibraryAllSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterSharedLibraryDismissed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterSharedLibraryMineDisplayed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterSharedLibraryMineSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterSharedLibraryPresented</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterSharedLibrarySharedDisplayed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterSharedLibrarySharedSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterUnsavedItemsOnlySelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.filterVideosSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.firstTimeExperienceNotReady</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.firstTimeExperienceReady</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.flexMusicDownloadRequiredAtPlaybackTime</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.flexMusicSongArtworkDownloaded</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.flexMusicSongAudioDownloaded</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeCMMPublishedShare</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeCMMReceivedShare</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumAccept</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumCoalescedWithComments</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumCoalescedWithCommentsAndLikes</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumComment</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumDecline</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumInvitation</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumLike</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumPost</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouTabOpenedFromInAppUserNavigation</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouTabOpenedFromNotification</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouTabOpenedFromOtherURL</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouTabOpenedFromStateRestoration</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouTabOpenedFromUndefined</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.forYouTabOpenedFromWidget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeAlbumGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeAlbumListGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeCMMInviteGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeCMMSuggestionGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeCPLCMMSuggestionGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeContentSyndication</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeDebugGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeFooterGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeInboxGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeListViewGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeMemoryRowGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeNoContentGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeRecentPhotosGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeRecentSearchesGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSearchZeroKeywordGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSettingsAdvisory</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSharedAlbumActivityGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSharedAlbumGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSharedAlbumInviteGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSuggestedEditGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSuggestionGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSurveyCongratulations</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSurveyQuestionGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeTapToRadarGadget</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetWithTypeMemoryRowGadgetSelectedAccessoryButtonWithTypeSeeAll</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.gadgetWithTypeSharedAlbumGadgetSelectedAccessoryButtonWithTypeSeeAll</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.infoPanelAddLocationTapped</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.infoPanelAdjustLocationTapped</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.infoPanelLocationTapped</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.mapViewAdjustLocationTapped</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.mediaViewed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.memoryCreatedViaAddToMemories</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.memoryNotificationResponded</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.memoryNotificationSeen</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigateToFailedToUploadItemsAlbumFailed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigateToFailedToUploadItemsAlbumSucceeded</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigatedToSharedAlbumActivityViewFromCollageView</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigatedToSharedAlbumActivityViewFromRecentActivityEntry</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigatedToSharedAlbumActivityViewFromSeeAllButton</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.favorites</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.hidden</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.imports</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.animated</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.bursts</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.cinematicVideos</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.depthEffect</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.livePhotos</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.longExposures</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.panoramas</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.proRes</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.raw</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.screenrecordings</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.screenshots</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.selfPortraits</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.slomoVideos</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.timelapses</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.videos</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.people</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.places</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.recentlyedited</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.recentlysaved</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.navigationList.trashBin</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExited</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith1-10Characters</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith101+Characters</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith11+Hashtags</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith11-20Characters</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith1Hashtags</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith21-30Characters</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith2Hashtags</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith31-50Characters</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith3Hashtags</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith4-5Hashtags</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith51-100Characters</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith6-10Hashtags</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.oneUpLivePhotoEffectApplied</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.addToPeopleHome</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.bootstrap.inlineControl.dismiss</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.bootstrap.inlineControl.review</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.bootstrap.mergeCandidates.confirmedAndRejectedCounts</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.bootstrap.speedbump.advance</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.bootstrap.speedbump.cancel</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.confirmAdditional.mergeCandidates.confirmedAndRejectedCounts</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.confirmAdditional.personSuggestions.confirmedAndRejectedCounts</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.detailView.keyPhotoChanged</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.detailView.notThisPerson</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.detailView.showFaces</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.manageTags.commitTapped</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.me.confirmed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.me.rejected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.naming.contactChosen</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.naming.personChosen</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.naming.skipped</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.naming.stringChosen</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.removeFromPeopleHome</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.untag.cancelTapped</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.untag.newTagTapped</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.people.untag.untagTapped</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosCloudQuotaOfferAdded</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosCloudQuotaOfferRemoved</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosCloudQuotaOfferReplaced</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsAllAssetsCounted</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth1</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth10</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth11-12</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth13-15</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth16-20</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth2</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth21-30</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth3</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth31-50</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth4</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth5</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth51+</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth6</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth7</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth8</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth9</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsShowMoreButtonSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsSummaryAssetsCounted</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsSummaryButtonSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.places.locationAction</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.rendering.livePhotoEffectFailed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.rendering.livePhotoEffectPreviewRenderingDuration</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.search.session</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.search.siri</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.selectModeEntered</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.shareCanceled</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.shareCompleted</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.shareFailed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.sharedAlbumInvitationAccepted</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.sharedAlbumInvitationDeclined</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.sharedAlbumInvitationReportedAsJunk</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.sharedAlbumsActivityFeedPostLiked</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.sharedAlbumsActivityFeedPostUnliked</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.sharedLibrary.suggestionsBanner.dismissed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.sharedLibrary.suggestionsBanner.presented</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.sharedLibrary.suggestionsBanner.reviewed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportCancelledAfter10.0-60.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportCancelledAfter2.0-10.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportCancelledAfter&lt;2.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportCancelledAfter&gt;60.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter0.0-1.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter1.0-2.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter10.0-20.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter120.0-300.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter2.0-5.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter20.0-60.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter300.0-600.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter5.0-10.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter60.0-120.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter600.0-3600.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter&lt;0.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter&gt;3600.0Seconds</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportFailed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportStarted</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.0-0.1</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.1-0.2</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.2-0.2</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.3-0.4</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.4-0.5</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.5-0.6</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.6-0.7</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.7-0.8</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.8-0.9</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.9-1.0</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction1.0-1.5</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction1.5-2.0</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction2.0-3.0</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction3.0-5.0</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction&lt;0.0</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction&gt;5.0</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedByEndReached</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedByUndefined</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedByUser</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStarted</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith0-Assets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith1-5Assets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith1001+Assets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith101-200Assets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith11-15Assets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith16-20Assets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith201-300Assets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith21-30Assets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith301-500Assets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith31-50Assets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith501-1000Assets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith51-100Assets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith6-10Assets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.syndicatedAssetsFilterTipAnchorButtonTapped</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.syndicatedAssetsFilterTipDismissed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.syndicatedAssetsFilterTipPresented</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.syndicatedAssetsSaved</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.syndicationSuggestionRemoved</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.tabIdentifierChanged</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.toggleMineAndSharedSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.toggleMyPhotosOnlySelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.userChoices.livePhotoEffectBounceSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.userChoices.livePhotoEffectLongExposureSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.userChoices.livePhotoEffectLoopSelected</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.userChoices.livePhotoEffectsAppeared</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.viewScrolledToBottom</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.viewScrolledToInitialPosition</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.widget.open</key>
		<string>11/12/22</string>
		<key>com.apple.photos.cpa.active_user_feature.actionOnSharedLibrarySuggestions</key>
		<string>11/12/22</string>
		<key>com.apple.photos.cpa.active_user_feature.interactiveMemoryExport</key>
		<string>11/12/22</string>
		<key>com.apple.photos.cpa.active_user_feature.interactiveMemoryPlayback</key>
		<string>11/12/22</string>
		<key>com.apple.photos.cpa.active_user_feature.memoryMoviePlayed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.cpa.active_user_feature.memoryViewed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.cpa.active_user_feature.mobileSlideShowActive</key>
		<string>11/12/22</string>
		<key>com.apple.photos.cpa.active_user_feature.slideshowExported</key>
		<string>11/12/22</string>
		<key>com.apple.photos.cpa.active_user_feature.slideshowPlayed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.edit.perf.exitedit</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.appleMusicFixation</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurred</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInAdditionalAutoEditDecisionLists</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInAssets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInAssetsPreloading</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInAutoEditClip</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInAutoEditDecisionLists</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInAutoEditTransitionInfo</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInColorNormalization</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInCuratedSongs</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInInitialStyle</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInMovieHighlights</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInMusicPlayback</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInPersistableRecipe</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInPersistence</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInRecipePersistence</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInStoryModel</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInStyleManager</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInStyles</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInTargetDurationCuration</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInTimelineManager</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInTimelineValidation</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryErrorOccurredInTransitions</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryExportCancelled</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryExportFailed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryExported</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStarted</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedByAutoplayedRelated</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedByUserSelectingRelated</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedWith1-10CuratedAssets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedWith10001-20000CuratedAssets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedWith1001-2000CuratedAssets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedWith101-200CuratedAssets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedWith11-50CuratedAssets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedWith20000+CuratedAssets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedWith2001-5000CuratedAssets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedWith201-300CuratedAssets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedWith301-500CuratedAssets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedWith5001-10000CuratedAssets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedWith501-1000CuratedAssets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryFullscreenPlaybackStartedWith51-100CuratedAssets</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryMusicFellBackToLocalFlexSong</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryMusicUsedFlexMusic</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryMusicUseedAppleMusic</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackFinishedMuted</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackFinishedTruncated</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackFinishedUnmuted</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackFinishedWith0Pauses</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackFinishedWith1-2Pauses</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackFinishedWith101+Pauses</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackFinishedWith11-50Pauses</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackFinishedWith3-5Pauses</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackFinishedWith51-100Pauses</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackFinishedWith6-10Pauses</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackMutedDueToExplicitUserAction</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackMutedDueToSilentModeSwitch</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackUnmutedDueToExplicitUserAction</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackUnmutedDueToSilentModeSwitch</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackUnmutedDueToSongPick</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryPlaybackUnmutedDueToVolumeIncrease</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryRecipeErrorOccurred</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemorySessionBegan</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemorySessionEnded</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemorySessionPaused</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemorySessionPlayed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryTimelinePlayedWith0-49PercentTransitionsOnBar</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryTimelinePlayedWith50-74PercentTransitionsOnBar</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryTimelinePlayedWith75-84PercentTransitionsOnBar</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryTimelinePlayedWith85-94PercentTransitionsOnBar</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.interactiveMemoryTimelinePlayedWith95-100PercentTransitionsOnBar</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.playbackLaunchPerformance</key>
		<string>11/12/22</string>
		<key>com.apple.photos.memory.playbackReliability</key>
		<string>11/12/22</string>
		<key>screen_CuratedLibrary_AllPhotos</key>
		<string>11/12/22</string>
		<key>screen_CuratedLibrary_Days</key>
		<string>11/12/22</string>
		<key>screen_CuratedLibrary_Months</key>
		<string>11/12/22</string>
		<key>screen_CuratedLibrary_Years</key>
		<string>11/12/22</string>
		<key>screen_DuplicatesAlbum</key>
		<string>11/12/22</string>
		<key>screen_FavoriteMemories</key>
		<string>11/12/22</string>
		<key>screen_IPXFeedViewController</key>
		<string>11/12/22</string>
		<key>screen_InteractiveMemory</key>
		<string>11/12/22</string>
		<key>screen_InteractiveMemoryBrowserGrid</key>
		<string>11/12/22</string>
		<key>screen_InteractiveMemoryStyleSwitcher</key>
		<string>11/12/22</string>
		<key>screen_MFMailComposeViewController</key>
		<string>11/12/22</string>
		<key>screen_MFMessageComposeViewController</key>
		<string>11/12/22</string>
		<key>screen_Memories</key>
		<string>11/12/22</string>
		<key>screen_MemoriesFeed</key>
		<string>11/12/22</string>
		<key>screen_MemoriesWidget</key>
		<string>11/12/22</string>
		<key>screen_ObjectManipulationViewController</key>
		<string>11/12/22</string>
		<key>screen_PMEditorNavigationController</key>
		<string>11/12/22</string>
		<key>screen_PMiOSMainViewController</key>
		<string>11/12/22</string>
		<key>screen_PXAssistantController</key>
		<string>11/12/22</string>
		<key>screen_PXCMMAssetsViewController</key>
		<string>11/12/22</string>
		<key>screen_PXEducationalTipViewController</key>
		<string>11/12/22</string>
		<key>screen_PXFeedViewController</key>
		<string>11/12/22</string>
		<key>screen_PXFeedbackTapToRadarViewController</key>
		<string>11/12/22</string>
		<key>screen_PXFloatingCardViewController</key>
		<string>11/12/22</string>
		<key>screen_PXForYouGadgetViewController</key>
		<string>11/12/22</string>
		<key>screen_PXPeopleBootstrapConfirmationViewController</key>
		<string>11/12/22</string>
		<key>screen_PXPeopleBootstrapSummaryViewController</key>
		<string>11/12/22</string>
		<key>screen_PXPeopleCollectionViewController</key>
		<string>11/12/22</string>
		<key>screen_PXPeopleConfirmationSummaryViewController</key>
		<string>11/12/22</string>
		<key>screen_PXPeopleDetailViewController</key>
		<string>11/12/22</string>
		<key>screen_PXPeopleNamePickerViewController</key>
		<string>11/12/22</string>
		<key>screen_PXPeopleRecoCollectionViewController</key>
		<string>11/12/22</string>
		<key>screen_PXPlacesMapInfoViewController</key>
		<string>11/12/22</string>
		<key>screen_PXPlacesMapViewController</key>
		<string>11/12/22</string>
		<key>screen_PXSharedLibraryAssistantCameraViewController</key>
		<string>11/12/22</string>
		<key>screen_PXSharedLibraryAssistantHowToViewController</key>
		<string>11/12/22</string>
		<key>screen_PXSharedLibraryAssistantReviewParticipantsViewController</key>
		<string>11/12/22</string>
		<key>screen_PXSharedLibraryAssistantRulesViewController</key>
		<string>11/12/22</string>
		<key>screen_PXSharedLibraryAssistantSummaryViewController</key>
		<string>11/12/22</string>
		<key>screen_PXSurveyRadarReporterViewController</key>
		<string>11/12/22</string>
		<key>screen_PXUIPeopleBootstrapNamingViewController</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_Collection</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_CuratedLibraryDays</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_CuratedLibraryMonths</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_CuratedLibraryYears</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_Memories</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_Moment</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_NonTracking</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_OneUpAccessory</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_OtherAlbums</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_People</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_Places</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_RelatedWidget</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_Search</key>
		<string>11/12/22</string>
		<key>screen_PhotosDetails_Year</key>
		<string>11/12/22</string>
		<key>screen_PhotosUIApps.PUXStoryColorGradeEditorViewController</key>
		<string>11/12/22</string>
		<key>screen_PhotosUIApps.PUXStoryExportActivityPreviewViewController</key>
		<string>11/12/22</string>
		<key>screen_PhotosUIApps.PUXStoryExportActivityViewController</key>
		<string>11/12/22</string>
		<key>screen_PhotosUIApps.PUXStoryMusicEditorViewController</key>
		<string>11/12/22</string>
		<key>screen_PhotosView</key>
		<string>11/12/22</string>
		<key>screen_SBSUIWallpaperPreviewViewController</key>
		<string>11/12/22</string>
		<key>screen_SLComposeViewController</key>
		<string>11/12/22</string>
		<key>screen_TPKContentPopoverViewController</key>
		<string>11/12/22</string>
		<key>screen_UIImagePickerController</key>
		<string>11/12/22</string>
		<key>screen__UIActivityUserDefaultsViewController</key>
		<string>11/12/22</string>
	</dict>
	<key>lastSeenDates</key>
	<dict>
		<key>com.apple.photos.CPAnalytics.assetCollectionViewed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.mediaViewed</key>
		<string>11/12/22</string>
		<key>com.apple.photos.CPAnalytics.search.session</key>
		<string>11/12/22</string>
		<key>screen_CuratedLibrary_AllPhotos</key>
		<string>11/12/22</string>
		<key>screen_PhotosView</key>
		<string>11/12/22</string>
	</dict>
</dict>
</plist>
