<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	RY5BDoJADEXv0jUhDCIqF1A3mmiiJsZFkSJjGJjMFDaEu1sk0W3/++93gJ6c122zb8oW
	sgHyTtfFoTM5OchAbbarBQSA1l5mbjqmKoxCFUcS+GdFBk/U6zlUAdgauWydEfJ4vsEY
	gCHGAhknv0HP5K664AqyOErWUtCWat3Qf0F6YSL2Gd6RflUs7kW6DKB1mhpG/pKx2Kct
	5F9ZPsDi3Xk2gnnI7o/xAw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2020-07-26T16:53:24Z</date>
</dict>
</plist>
