<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	lVLLbtwwDPwXng1D8srPW4OmaVA0KXaL5lDkwLXotVpLMmQ6PSz23yt780LQQyPoII5I
	zgylI1hi1MgIzREsTkzhM5lDz9AUQojkEbszmnto1Ar5YMgxsvEOmuqUQOeDRf5BYVoh
	mcDD+XztOr803s9m0Dez3VOABjJ1mRUbSADH8bkIylymIpVCxYup7cnilh7M+TKSjgPy
	whMzLba3O4i8qH/NE9soZoLm5/EfOsjhfiANDYeZYl9iNu4wLZp818Xwu3e09j+HVwGN
	exXvOJA7LNafoRuaOeBwhdbiCuPM0WSHwxQZjBtnvhiw/f3B6bve8NI93agir1Wey6zK
	RC5lHcUbHXWbzqwj2VkMb8qexnr9Oq/1No1TGygdex9pT8k7Xe+9n15y4dPF8g4r+A0D
	2mWOIlVZHR9aZHGXshCFSkRaCVXHpcpclbXMigjVebkRm1rJTNWVKpW8f/T/lbj3+oWl
	grd+t1+2+OcjtV7T7Ujh/Jf+z/H96S8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.9.1</string>
	<key>adjustmentRenderTypes</key>
	<integer>16384</integer>
	<key>adjustmentTimestamp</key>
	<date>2020-04-12T15:30:23Z</date>
</dict>
</plist>
