<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PHAAssetRevGeocodeEnrichmentTask</key>
	<date>2023-01-02T14:19:49Z</date>
	<key>PHACachingCPAnalyticsPropertiesTask</key>
	<date>2023-01-02T03:32:26Z</date>
	<key>PHAContactClassificationTask</key>
	<date>2023-01-01T03:07:21Z</date>
	<key>PHAFeaturesUsageReportingTask</key>
	<date>2023-01-02T03:32:21Z</date>
	<key>PHAForcedHighlightEnrichmentTask</key>
	<date>2023-01-01T03:07:21Z</date>
	<key>PHAGraphConsistencyTask</key>
	<date>2023-01-02T14:19:49Z</date>
	<key>PHAGraphRebuildTask</key>
	<date>2023-01-02T03:32:25Z</date>
	<key>PHAHighlightCollectionEnrichmentTask</key>
	<date>2023-01-02T12:19:51Z</date>
	<key>PHAHighlightEnrichmentTask</key>
	<date>2023-01-02T12:19:51Z</date>
	<key>PHAMediaSampleReportingTask</key>
	<date>2023-01-02T03:32:26Z</date>
	<key>PHAMemoriesEnrichmentTask</key>
	<date>2023-01-02T08:20:22Z</date>
	<key>PHAMemoryElectionTask</key>
	<date>2023-01-02T08:20:19Z</date>
	<key>PHAPeopleSuggestionEnrichmentTask</key>
	<date>2023-01-02T03:32:25Z</date>
	<key>PHAPortraitDonationEnrichmentTask</key>
	<date>2023-01-02T03:32:26Z</date>
	<key>PHARevGeocodeSyndicationTask</key>
	<date>2023-01-02T03:32:25Z</date>
	<key>PHASearchEnrichmentTask</key>
	<date>2023-01-02T12:19:51Z</date>
	<key>PHASuggestionGenerationTask</key>
	<date>2023-01-02T08:20:21Z</date>
	<key>PHASyndicationTask</key>
	<date>2023-01-02T10:19:44Z</date>
	<key>PHAUserBehaviorEnrichmentTask</key>
	<date>2023-01-01T03:07:19Z</date>
</dict>
</plist>
