<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	nVdLk6u6Ef4v3s7UGZ42nKosAEm8DAbxMs5kgQHzNDAGD9i37n+PPDMnd04qiyRauIzU
	+tT9dau79cfqnE9JlkzJ6ucfq3MyTvlFy6uinFY/OYplnr/moiqbytVPlmK451V/qfJu
	Sqaq71Y/6T+fV6f+ck6mML+Mn1PPq/fP/3p36h/Ax2vVZvb1fMwvq58rhoPMml09r5Jh
	+Nem1Yanf1A/aIojC2Na5ucE5+/V5yL1vBraZHqcQyTPSbrzVuTcJKuv43Qmyoyrn3//
	4z/okXfJsc2z1c/pcs0Jbj5NVVeMD53604l8esl0vXyZQk6puuE6KX3bEz2pHxzLsBt6
	I3LC569IEB52j1OVfmCMyeTkl5QoULW5KDz2COuPseHWNCvyzJrwRaSk69SHSXvNHyI0
	+zEYnhXWFLdh18+/A234hxS7FtbMhuMFgaYEivz9Nyn18zx+TW0EjmVFkUAJPL0mvHya
	phDPfRj19dl30+XXVEL0Wf08Je2YE/kqe0Ceqg/veOfk8kXBL8/q39fT/vyDOK7Nfwxl
	T1D+fP7/iC+TrJ/Hv1jffkYdoYewIq55iuOoDcXTjPDLAo1ItA+p8ZtZ2z5N2l97f03C
	ZejH6yX/NiVfHjJdPn7fLLdJ2jh91X1u/t25A8U81KE++KXZDcNzIkWLhG8SjTz1sSYK
	FCsyNP/lK0r4pPZfrmYE4p9vg1yo4/czCTpLi5s1T5PbxosCQ2/459XUd0mLk67Ivw7h
	eBJRPMVQRAuGIRID8xEjZA8jcjS9WXOEKkFgWLL0FRfi74No9sGdlQzEiQgNZkYNRy9s
	3Eji95hu7Ei2I4TiwVLMwUDFMZLPV0THZa34G2OCVUOFpR4ZqKUdPVTbKKGzKYrEJG1p
	Zs+24PVlQTNoAydssthAqRNiaYbLQY9gGauhDSPZ2MMwjiNF1Y2ktePlvUCsVByDyxxk
	Yki3hzFk6MORHpa9Fp5y+QyA19jhzEeojYMQoAjTmRZS5d5DGcFtCW7jR81Fd5L5/fUl
	2KxBOzoHGU/B+RAkKHwL37nL6J3M6LSkbctz6AYPeBYJUJyEcpNCn/M1mO29sDQI4MFr
	WzOiptRHtLWvwgKfoK0UYmt32DuFuA/VIWxuxeuLSQUpLhsqcPqdLhsn/EQ0mykL1Fai
	yWLsoV+Agxk10/EDsOELn0FOXFAqiFz6HeDXl1CzmEJBY8gZCr14BTpK/lzqHpL1IFzw
	fhf1OMSV6ZmyHjdfGjbEd/RCAOnTB2BJuHIDO2qNta1aQYZl2hal/SLvOli5PiwtFzTx
	HstpgMIi9G7OyTDT6hAM1YeC1ENBghd84bWoAVFsywV9DR0O77BpQEnAEOse7Nwgo3kh
	jgM3XOyQbIuoMtujc9G+vjTs64v3Lv6lYUDnvxCDvWVnMj85bwVx1vwkmvH81qOWijr7
	OCKeJWFUvj3Csu2jCOOLMc1DBJ5O3lVa7+HQfXBIfXFIo9bp+u7gZYEe6XEud6V67rOy
	fOq1Lq4tLzpoTBO9y9LWe32xTQJwVJsivMiJiZPSWjf3g5+JOxq+vuT+E3YZpPnBlvOK
	WSjBbcY7GUYwGsvN4jb6fbxjn1Db6FdHHtawD4lpS47Q7IBZ2IG76+Jyi2A6e9fFFLXB
	PabLfEW32XFd7gQiyrtLTwmYZwfKwQ0s8eD49M5FkuDdQ2jb/VsT3BaEKBcUBK+ERE4b
	YCR5cTnVBmP1bhUw+t06JoV4AcXsqgWHAe5tMFMe8vTcrhpxR4lKACZry/LWDN4wXAIv
	xeiMtmm4yK6rnmynbeU6iILLwTt0ejSERzmcwk6yU5faAs86mAq86EpfW74kWDWd5ojn
	ta453aqNaw29A8rlCJXZ0XG00XZNIEiUBtzUyUNb1HZZlKJ2gZ20U6VZA5g6W7eZNe/x
	xaqa2QLUJVcVK97P7yd5rRhmWDFyCNEk4Vl6fSnAobc1l8pAMTp8wZweUa1gnjYG3clm
	mgVYslVvFOzGpdxaf33Z1uN1p2TC/mrXRRNJqj4XXXU/a61+GMrO809v/esLgRaB1Fgm
	3nbmybKFmcGwi71M1glHlKdLs0t8vPH8ydzB4O4wqnTQJb5WEyXkrKyqjCdTbOWLK05a
	YB18fBfAE7Sh7HpIn/dv8vYC1m6g4qbQFCsz5PlMbLfNWwvNoBiwYgmAQ+cSve0OIq4r
	cl/VQzCLqHNAIrhvcm3vrMJd8NyptZXFeD4RrED1pItRS2+219AGsPJtQZkIz615G2/g
	JjioEOygb8+VerW2g1B1ipIZpnVoZThCWfCckq01L222VfBuAL3e3uDdvM93DGxkBeQ4
	WbrDUt+reD4bVOpBDEUIUq+mVScxwqhZqp3Wz3m/FAPhyQYFdQY3vbY9bmP51OJ4wpPu
	B6XrDzsnlDhvpmXoUntdsa6Gxw1JGdpGO3MZFs8mSpvDzabVA+U5lVmqdGzBWThA2UoN
	Tz9rfl86lfX6YgFhdJSR2vpFbbvzUVniLcLFWfOKcXe7Z4Yl5YmycXQu6N487GgsF5Sy
	rQAm2Bmz+AaXMdYr66xXQWl4RJH7fHNBCIjC007R30GZWjp2fSBLneMb3JZr6vfb4d2y
	x6mtrsg4j8VbObzDuji2S1sYHTXUFRz0Kq1NJbgY7Cj6NW3bQXB3q4kBre6RC2mjvWQp
	s5Ahajw1dUJqhFZUZy8stpd0j/Hah5fCSZeJRepc1iXDInM8W1U2k7QRdLNwhVvJJcVm
	p6ajLS8EtIFBInEBKXShs4izZsIzJecZoqVjKLeDepaSGsu1ZjRhutw8vaP8qsxusLXw
	VvY9Y5fGG1eIoNvjsaA0JAc7B+sHxAWHQk4kNZyLxXMASpqoVKIWHeIoK8MGcLq9d8UK
	nKeMnXlSMns7dF9f8FZMSXo76gg1jkKASYgHqnyQ1ZA7jUt5RWk61RWINX1OqjKHkHfd
	Iw5byOpe4NIeRIWTSEwKOAnfJL5B/Tx05W2rqVR5LMQYFIWtuJSjhn1ZeLsN4rl9UV5k
	1Af7cxmL5HKTQm6UsOMcSzZLmDc7gnMFN9ImlPIaCeMbpXjl9uDSry+37euL9lbslEeC
	CsZhqq43g5StqTRKtO/9ZDF6QFE4l0mq560Ay/AJKhRJ6CQR4iZEhegSr7tJeWMAw7lu
	iRggjm4tcTrJSzun0kxTd4NkFt5gFBNHCzPsAieYaR7ug8uIUQmR5CS4SUiyIbHxdIQa
	FzTYoNVRSq+ueAIy5SXzUwpcUm2xIauTm94rU9O52A8wPMGw2TfyIsDe9TtsX8G+tw2X
	e4fhaMc4qqHgevFtG/g5Mq4uUwDJtWv3KQI3EkIFpWttg2HVYbSOM7K/gYbkbF3RVPfQ
	IQXTA2zhnAqqAGz/N9Lwt492+rfXCrtmuO8tLHmtzGU15V8tLP1oYb+1wKT3H+jP5viv
	tvirTX5elaQFNfPbx0OJWrPkkURkGNLuM/y3h8v/8lLx+y7/Lx8q//jznw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentRenderTypes</key>
	<integer>16384</integer>
	<key>adjustmentTimestamp</key>
	<date>2020-09-19T21:36:26Z</date>
</dict>
</plist>
