<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LithiumMessageTracer</key>
	<dict>
		<key>LastReportedDate</key>
		<date>2020-10-04T23:49:39Z</date>
	</dict>
</dict>
</plist>
