<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseMinorVersion</key>
	<integer>1</integer>
	<key>DatabaseVersion</key>
	<integer>112</integer>
	<key>HistoricalMarker</key>
	<dict>
		<key>LastHistoryRowId</key>
		<integer>575</integer>
		<key>LibraryBuildTag</key>
		<string>D8C4AAA1-3AB6-4A65-BEBD-99CC3E5D433E</string>
		<key>LibrarySchemaVersion</key>
		<integer>4025</integer>
	</dict>
	<key>LibrarySchemaVersion</key>
	<integer>4025</integer>
	<key>MetaSchemaVersion</key>
	<integer>2</integer>
	<key>SnapshotComplete</key>
	<true/>
	<key>SnapshotCompletedDate</key>
	<date>2019-07-27T13:16:43Z</date>
	<key>SnapshotLastValidated</key>
	<date>2020-01-05T05:44:44Z</date>
	<key>SnapshotTables</key>
	<dict/>
</dict>
</plist>
