<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVdXs6PKEf4vetV6z5Bhq/wgJDIIacj4+IEcRA4ScGv/u9HZe+0t27zA9HTumebrPw7P
	ZBiLtpGatD38+OMQzkUVX+c6TIbDjwPCiOjh2yHoOvsX25tGIt/BdwQF+8YY5UkdwORZ
	/NpEvh26KpjSdqh3Tt1wDz+/HepkCuJgCt7q62CcksEp4ik//EBxnN4Fii6piib5j4Vd
	7ju+a//FLCZFlk9/cbdDkTRTMP0yt2t/2wqmfwvvHgRxOY9TvbONhx//+OP/cCRNEFZJ
	fPgxDXOyR5FMU9Fk49vBNk33pdpGQaX+sgu+/UkU93X1pu2M4DuK4CjGkAygUITEGeLb
	oWi6efpvIW7p2nEekt9IbBVEj1tbNL/zscNbsEnGXfnfdu0AZyhqjxgnMBLQ6O70+I56
	nIroy88OoG8vAIoRKIMjCEXiFCBoGt0TSoD3FoYTgKEBxqAIQdIkSu2ZmafWDqr57c13
	BIA9n+HvznwHgNm1MRQJ9vrSDEZS5LfD1DZBBYMm+xJDMYwkyLcthmFIitjVdijxJcwA
	hCEBReMYglEo8VVchn5v0b9R31z7zlcmtaDb62068OaDuIBIJzgP2zUqRPcQ9mELhBvZ
	+eq4cZrWwS3s/LVx98PTs1iDFXmqkNzk6UhKsVuD6ornIn7C+6tdE1ZU+YiFyZoPlsKo
	r4oLlsysr9BH5NZCKyNAfOA2SJ7WiuIT1/4hoEboy9NDmO9BB4daEG5eK8cpDxcT9XWv
	mgjX7bzE5nsbq9yk8kkL829hxXe2KFv7u7ecxYkq4uiJRJo6ysWXYJnVAus2RJBWs+i4
	XRgD4mk4Mu+Aq+l5TFlUteTgS12g9T307bIQFN7z2DRFFtpuJjdCJsJpuiwTWMoTpzRB
	z6yLLX6M+LMtIPfAQgZoIxfb4u93i9ga7FzbfUf0opHFcgfq5hyGstyWaCIGUl7kVXd0
	mylJBfnzw3OZNOUX1MHiKLEr1HYQM3gwjVHzgg1k626fPj9MSVmzyFbW1iFS6ooPjTOm
	ZIcNjdBEPTtV9Wp6BFvmF+Ps4XZdCLrgSbGccwLnYkQYV/5iOfnVt+IA8vBkboSW014N
	lg2a9FFbvIIIqFmcvQTN1foyi2gfkxLeNkqtyN1QYWcnIvK13oQ8kK91URGU3fA3/zEV
	sMovFpDhncPz7ZyaxvhKQXcRHa1FlnZlwtERgPf5IZeRwi7n4+cHHLmxx5JXGkxI6zqx
	5BNrL6zBnmOYWatpSPbFsWB6r7TPD4tIVchIDVqqsIq5/GUIjEgd4SqU/i2eLcwyb258
	yteze1YGkhtbZYuGU15jThj516oS9Njx41sAuodRy2IM4vQ6Ptbt7JpGLEDgX/RyHKuF
	aFzI4DixueH1iiaokQZqROezh/Gldiqf5+CRKjneuUUVEHFdIonh9IzX2IYZdKizOaWu
	XPEEWcNEmwJ/2y7WffZLfBsqGXV8gkwz9TgC3EjdB33UF1hX2WgoT68/FuHxNLp6HPoM
	M9ZFYRPM1vqmpk77HYGbKUxRi15ukVxnU3D5/Kjrm/RCt3LuZ/xJlG4H9T5Bu9AT6dUC
	0vr5UQzE+sSSJuzyokDWs1Uzdo2gesxo4VRcXG0aczSnojamG8J4lpqefX6QljrdEqaj
	yot10wFC+lSaXAu4eQ2bqTboCsVxW0DmNkK6Te7F29EPeoef2015RKAELOXLcfvA1oZT
	5mzbU9nqug2oizkqaESRnZo9xslaWoNOBnZpnOBuYHgc23B2XDlJVoJxPa7PJAXL1Vl/
	EaK0lyBa2CkRL1pKnrFCO9IIVYbT7Yg3Ebfl6pi9Xti8xko+VWgh+22UZIv9+eFIMGmR
	Y85hkhGdaC3vj9yU14QY0t1imsYtxiMEvoBEnir87IfqwL0W0y3UGJSbF/JaeN86YXUD
	kh07VIlFCek7Tgd8AG7i7hEnzOqM11hOofuy2AR7rME2OILU+tjl0kqolWx77bU4G9BH
	6pjavc7KhJQHnZvakhNJ4tVC3eM7YKR3ZuaayI9lgXqEqP50brISc/4NRpSoSeG03hRp
	snmU3zz9fXgLUVavVrOYmySrsJwlA1PUV9KihcG7RJjmMs41rZVAKSipGc6EwDxC8gTY
	7SZqo2WxKC5WLx8aqajHXOmckVWKdr2G7CmxN2ClKEte3LZLfxOlPM7YieLKzMogf4Re
	oM8tuddg1hf5opnjmLzYzw9BEDj/CvcPedLylWV0CZGiYWGuksbV4HwT5aBNGqGwBDFz
	04d85M8PS4V7w5KmMvdqrFALeZY2pRwd7YXcJCHEg4CtRPGSJQVbA5kG7pVlZMH0ou0s
	EIoakwM81qKy9/jckHlPM/ZWr4ad/ayEXsnV4jzizpyHkHpJNentDW/JkycPLFfK51Qo
	6dxaXpR4oVN8fcbi1VfBql4kFTd1NnjxAWcZUMn5cIwAX3x+KOTLmCWBSAMG6xu9EPuc
	G7F+FYLWG/J7ypu0r7MtztueJS+DBWPyuiGDXjL3aatE9q5FRg+lnusIbG5qKqYqtF4U
	gg9pa8Q+P87ZcD4/JZUXwswLWBvy5uhuC5UJsmbwi11dY27Z+8s91FZ+RbcTVDmrX4L9
	51ufe6zv42ABe0MtONO75blA8aPmz/xTue8YcVm2qxB5lgdjmt+iBMvvmeDeC3AWz6LG
	pRtsOJ5orZdEqQV9Fp6e8cpUmZqbBMQkuIsnHF7W0UhYNuBD3APsUxcizQ1h9PnBM9Fe
	morkVzxsWCKRLCvQ4b3itocxIM29pPnkiSdE1hPnsemfAdmt/QtXLpSky+x55oY8WDxR
	NSbLTZe44YvMWdhUE+qHb7MLVKoxtdlKELrMeoJQFSLLXWHD54xczouB8yH/+TE0A8eN
	0v1ZJODSefcn52p8n7kqLDDxKjlr3kC+inwbxuLeUZPbstyFDeQmO9WCzbl6Hp6sCK+3
	9z+KC+rTs02om2qjIxYAUdOMGZpnbqDNF4QBf+Fsg9VG8ep519xqhFkKBmM/E9Hoqvn7
	0La+m5e6FK1wbZ8XIaLd/boo5YBbIlQ2mwTJcDpuewbuba40vHqCEkw13sXdBD5W3ru7
	OcxQKR4THDaqsO3RLE7PM/INIcLAvD7czRc+Px7R3XqyCpoNznlXOF+ok9ku1z0CZb+u
	sGG5yjMWtuQF42Fwe9H5s1Xcchzdr1HYwbDmkAjFusa7xbSBsuntMRzhE5q3TLn/fR8A
	qjcMP/0OWgkUB789CPbt8MqLKfkTwSL/A0J3CIp8wWHwJz7+D17+dsh3DKok65diBiMI
	bCczCE0DGmd+/oXMz20zDfsk8htYN/Igbl/vMWDnKuJ90ijS4mtgMupgmMy2SQ4///nz
	Xw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentTimestamp</key>
	<date>2020-10-31T15:03:21Z</date>
</dict>
</plist>
