<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coalesceDate</key>
	<date>2026-02-07T23:52:25Z</date>
	<key>coalescePayloadVersion</key>
	<integer>300</integer>
	<key>currentPayloadVersion</key>
	<integer>300</integer>
	<key>snapshotChecksum</key>
	<string></string>
	<key>snapshotDate</key>
	<date>2026-02-07T23:52:21Z</date>
	<key>snapshotPayloadVersion</key>
	<integer>300</integer>
</dict>
</plist>
