<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	fY5BDoIwEEXv8tddoCCxPQdxY1g0MOiYtph2cEN6d4cD6Kx+3v95mR1+fm1FIiUpcPcd
	y5qjlxvlwmuCOxkUEuH00HoHpXngSEdcgj9Ya/DxYVN07q627Q1EB2XyQZFt9AzovU5P
	uKaqTHyWn4quby72r0EVPOuzvDBlOAyZI+pYvw==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.video</string>
	<key>adjustmentFormatVersion</key>
	<string>1.0</string>
	<key>adjustmentTimestamp</key>
	<date>2019-12-28T21:56:23Z</date>
</dict>
</plist>
