<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	fY5LDsIwDETv4nUWpZEayDkqNohF1DhglA9KXDZR7o57AJiV9Tx6mg7Ov/bGCTM3sLcO
	odTk+Iq1UclgTwoaMlN+yLsDZr9SwuMM0R1MK/i4uAtaFmO09FkKbXNR0GWSKMB32Z5g
	pyEydpV/KmZt5uX8VyEO8rKWAmEFC2ulBOM+vg==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.video</string>
	<key>adjustmentFormatVersion</key>
	<string>1.0</string>
	<key>adjustmentTimestamp</key>
	<date>2020-01-06T02:28:12Z</date>
</dict>
</plist>
