<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build</key>
	<string>24A5264n</string>
	<key>heartbeat_age</key>
	<integer>1718062498</integer>
	<key>lastSent</key>
	<integer>-1</integer>
	<key>parentDirectory_age</key>
	<integer>1718062498</integer>
	<key>pcA_age</key>
	<integer>-1</integer>
	<key>pcA_obj_count</key>
	<integer>-1</integer>
	<key>pcA_wipes</key>
	<integer>0</integer>
	<key>pcA_wipes_aggregate</key>
	<integer>0</integer>
	<key>pcB_age</key>
	<integer>-1</integer>
	<key>pcB_obj_count</key>
	<integer>-1</integer>
	<key>pcB_wipes</key>
	<integer>0</integer>
	<key>pcB_wipes_aggregate</key>
	<integer>0</integer>
	<key>pcCX_age</key>
	<integer>-1</integer>
	<key>pcCX_obj_count</key>
	<integer>-1</integer>
	<key>pcCX_wipes</key>
	<integer>0</integer>
	<key>pcCX_wipes_aggregate</key>
	<integer>0</integer>
	<key>pcC_age</key>
	<integer>1718062498</integer>
	<key>pcC_obj_count</key>
	<integer>1</integer>
	<key>pcC_wipes</key>
	<integer>0</integer>
	<key>pcC_wipes_aggregate</key>
	<integer>0</integer>
	<key>pcPriority_age</key>
	<integer>-1</integer>
	<key>pcPriority_obj_count</key>
	<integer>-1</integer>
	<key>pcPriority_wipes</key>
	<integer>0</integer>
	<key>pcPriority_wipes_aggregate</key>
	<integer>0</integer>
	<key>previousbuild</key>
	<string>unknown</string>
	<key>previousspotlightversion</key>
	<string>unknown</string>
	<key>rootsinstalled</key>
	<false/>
	<key>spotlightversion</key>
	<string>2305.1.5</string>
	<key>timesinceboot</key>
	<integer>1718056899</integer>
	<key>timesinceupdate</key>
	<integer>-1</integer>
	<key>vectorindexon</key>
	<false/>
</dict>
</plist>
