<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	XZFda8MgFIb/i9dR/Iw2dzExd2ODXZZRrJU1I2lCavZB6X/fSdtBOwQ97wuvx/O4ZtkJ
	HVFxQp+o4BkKSzmgAjFJJGEoW3wkiCAK6j3U0eciDwbUDGqct10byMcY38GZwHnZD2no
	fRomMHZgPPnAVMYoyIQKLRRd5UYJoplS4ny+9FwLeAacSIu64dqVmDaUYllahksHm6Ta
	GcptY4WDi47zGKdb7AAxSWVNObdY17LCUlUKr7S22FgtnXYr4WS9kRtFqdoEyLeQMaoy
	ZckkNkZrLCteYZMbgZvaadsYK7iVtynD0JOx/Y7dZa4U/b3E4zIxjrs2kd0Q5j4eEtm2
	Bz/9QDyiIk1zvLL7a3nFCri/YIblB+4hP9D/B9AvyO8Bbx9+BJCwnAuaoRH83ofnV3R+
	y1AHqhuC70At6xc=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.pixelmatorteam.pixelmator.touch.x.photo</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.pixelmatorteam.touch.x.photo.PhotosAdjustmentData.SidecarConfigurationInfo.compressed</string>
	<key>adjustmentFormatVersion</key>
	<string>1.0</string>
	<key>adjustmentTimestamp</key>
	<date>2024-04-18T01:09:25Z</date>
</dict>
</plist>
