<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>417</integer>
	<key>LibraryBuildTag</key>
	<string>D8C4AAA1-3AB6-4A65-BEBD-99CC3E5D433E</string>
	<key>LibrarySchemaVersion</key>
	<integer>4016</integer>
</dict>
</plist>
