<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVdJj6NKEv4vvlarK9lsaGkO7Pu+MzUHDJhkxwYM+Kn/+1DVr0etp+GAICJjzcyIL/46
	dcWc5umcnn78derSaS4eUlGVcD79wAGGfvubFlb5DE8/MIDi307Doyr6OZ2roT/9OP/8
	droNjy6dg+IxfZGQb6fnr2+5vw2fiq9L1ebG0l2Lx+nHCcVFArmcvp3Scfyf0OlyAd/B
	d+SCHowpg0WXOsWz+sUE305jm86fdo6VXZqZ7umwm+b1Ms3d4cx0+vHvv/6PH0WfXtsi
	P/2YH0tx6C3muerL6dOn4XY7fl2Y5sM6fZmo+nGZtV/BH57gCH4+Y/gZITDyeB+5+CUi
	HSvaz1W/pH4RtSFL29+yv4n8Ng7T8ij+IDGPzzV9Mf0pzLRp1lhD1f8Snj5zO81V9uXn
	CNBPdwBCnMkzesEJQJEAo9AjupEAX57+g3E5MrPMQ5C2y6fp7yh2Iag/HvLb6fqnxe8A
	nFESpQBAkTN6JiiCPHZ5Hvq0ddK+/NKBYAhBkBSBEiQJALh8WkeJL2EcQ7ALSuAUQKgz
	uHzKjhT5yTr/g3Ok8Ctxejoe2xjoVDr4VRNYK6D8c6vf6VfaCLvWllHIBhkHS4OtqSvf
	0oXBxhcBrCCo+KdSN7ZSkga3liAGI3RDRYW1qXFRawLw8S66Jsw/3vduto/sx6+xNKIs
	ibdOEuTS5lZ8MNuSyl3GlF9TpL3Gh+zpncPwHg9lk1nJj3cboaRMCC1paIyc9yh3gSLB
	iYh8oV8dR5UWghPNa1wEUGaQJqGwZ9R1J0it4SdzBb0jZWPFEDYP/UQqSY9bM9eA+EuS
	fScrwaBcKTbZ51CXWhVyBjC75hw1CtTb5hk2KZABOfjMvGpSTEQV5fC1ILX+OMqCb/Nb
	0/AMbetu8/Gu1JMlrtSdi+zkWY+tLpPozCY4H9h2DpGK73RDdfOLddngc28JMeCzBz+S
	skin426Kfly+UjiceTjYbJ1Hqm8n2kpKroQIty3FTDGmZvcmaJG/xiwWCmoWRyt11uVh
	cz2z0trV9xlts3v6lXjzi+tJrPBUTUUyV9x400YnK6DxY68yK7GpVkhIouPgpuX4RNXY
	G9/5dswUoiWDpWb1WW2a7eq6unJ45LyMpxvFpkYDLxhWN4DDU2QbK6RxkbN9kznOgCDY
	fs99vJ+Na9Nm1TaYPY8MjNDyMxne9vauJM2SO8HMi7KTMZsv8NmY0EDh7NWt4P5Q7mXk
	2qTJ2ZnBfioGtKttbm5bFPvxXp9VQ5ye1xCrLIE++zvmiOHIdu4YKwLuqFA5MkpWDmuc
	uYA0I9bItdGGt5oNRQz3hY22uE2OAjejBAVQhRd6pgSQGZhCaTksgVhnKSFtxYO1wMuu
	4SadIdFlAqdREsv67CapypU4FOa3OKPrxVGedp+H8IXsKtK4vXenNTxhq5dzN6TAP3OR
	Ed14L4QKtOJyThml49Fpi7h2kVi6uPl30eztxXacF4ed6eOSoAmPGnElVklEJPaNUW3j
	Ri+pF2qmRAZZ/Zaajwx7Vsel0Pj1br+okkdkcOM2ygi3qAMjqjXl6rH4G1f75czXkhXG
	1I1L2uDhYL1wDvlr9rrVxptF0WjpFZrZ5+ZjTzPZBYO2gzejlU2BBovXH5c3E5bR0bJn
	yvKTKtFmVuK+JWaz5WaL6tlEKoaJnEzOy9kmXRkQzDclHRfo/GW8hDudZRthyZw8eZBy
	uWB0769KcxWaavcRFTE5Typj4VkyC6sGlXeyNF+552JNkDvcpo2IDrkKtXtCrYQEFSQ5
	LGDF21eDWSAUZB7YIwhbjQOr5zmSRiSwDFrM64521aiMBlZfpSnxOPHncEcEjrSx/cXK
	xjWjloa1nG71Yyc0BTQbB+kFxNh+eluVK3GTyRW/6DcSoIFycSOaShkCyrFeBvA4ii3B
	hTvhq3XsB9xnPIyHIlLu3cqqr41GwMGthC4pGJCv6pDx5LUINqhJ/OZ8vIPoqGehbUeV
	ospxXEdNZ8RKOecwjwRBz1Toptpj4xvwZnkWsX68++xuKfEL1uMiY3gzeW+8fmOsDhV9
	gwikgX/4rkGOaXnUH26askwMlWgwgiboAgsj7KqaJTkiX/B1d7whfhuafjMx+tnUBW1E
	JSzdM60ifIq7biIpjRXzYXEYdPqViiVcv04rmUh4UJTITPoxVd/93bBEOVm48C3MFLdt
	VUZHWzaFxBEaTj8i6BaqjOPXzX5qGOhvNrEI8uovIAx5cfCvNq5xJWkKjPAWE20G/aLw
	7joZuqaqK0ryFlof7+EyUCs8l3wz2NeVSnRs6zuH1SRihaVwFgV8sgrncTMj3bpC5cmV
	jcU7vHtUEqMOXlfLir2RX6Aska9KFA9CJ3y8v4zdxie3cBOSB7KVdyLhy4R125zCjfln
	vILjcpZmxucI1+u2zJgSB2JLtElfJeyOgFWcp3KTsajvE201CtrHu6msyFArhIzZ/uDc
	RsPYLLjlqBYRUu4rkRrwVloCj0MGk4d0GuJCkO9II0oguDnOU8CZudtFWYu3696moydn
	Tc4SgMNsU2c7E368EyLGB72t2KZEU72FTIi7EsLRO127BAEvAZNrO97DQRZsfCSxTagz
	tKr2JNW00hDqjtNWM6qcJ0cuUcGKJr/jkJcVzHIKGVSI/cjeJkQCky2xM8HjwCkclVVj
	xcx346p45cNljOboDnld73F0lPFHkJ7tka96JzFk7ChHORQQK2yeVuVUQsf3A8w9JQL1
	g0kZMVKyQyA7Gn4Ad2NUX2C0gdKHEpHdXFbQrwLs/Dvm3w2l2m+00PiPgEWuZpctlbMd
	bRqPA6h6alwmd4bKZXy9PboLUAnfrTzU0Tp+dR1G5bu5LFGRVlP9430U9zI9C8bg55Q2
	keRQdYWACmq+p6vgZUnE+G/cShqxv7P2IKgpTS3BbQpaWERinG0xbKWjT5qsP2Iepreo
	d1muqbHeuTdPGvmibNkHjzQFbCRNzoBfMyvBsyCQjsi41m6jXdh5yQ9rxtUkvAlq/6zK
	rW4diOahIBkV7wunPIRuwNj8aikjxrKFeifXxK8UPuRty0djZRyOo0S7nAssd1Navoot
	naZQLm7CugRSSFBC6dit7PkP+6XIcm9PXcTWVyW499xi6wm+DK/7Teun19XZDCMCcc2I
	gigD9+g6Es/EBxbAba6n63FLus8+3ga7rLdgcevxavjrvw78336iafpPDIsRBAr+eA6M
	u8JqLv7GsMj33+Dzb8h5YNwR+ULHAMUIlMIR5HLGL+CArwcKhQcKVYv9k305YwemBeQZ
	IzEKHAPOz9+onB36+XFMP1+Y/BNQn37c0nYqjgVVfswc1a36GmfcLn3M3tAXp9+TkPwn
	Oxu678eg0xbfRzgcSn7+5+d/AQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentRenderTypes</key>
	<integer>16384</integer>
	<key>adjustmentTimestamp</key>
	<date>2026-02-15T14:14:28Z</date>
</dict>
</plist>
