<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FaceIDModelLastGenerationKey</key>
	<date>2023-01-02T03:34:15Z</date>
	<key>PetIDModelLastGenerationKey</key>
	<date>2023-01-02T03:34:15Z</date>
</dict>
</plist>
