<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollapsedSidebarSectionIdentifiers</key>
	<array/>
	<key>ExpandedSidebarItemIdentifiers</key>
	<array>
		<string>PXSharedAlbumsVirtualCollection</string>
		<string>13A08E24-F8C0-458F-9D29-BDDCAE13BB00/L0/020</string>
		<string>PXMediaTypesVirtualCollection</string>
	</array>
	<key>lastAddToDestination</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGuCwwZGhshJy40NTY6PkFVJG51
	bGzWDQ4PEBESExQVFhcYXxAwSVBYTmF2aWdhdGlvbkRlc3RpbmF0aW9uQXV4aWxpYXJ5
	U3RvcmVBcmNoaXZlS2V5XxAzSVBYTmF2aWdhdGlvbkRlc3RpbmF0aW9uUGFyZW50RGVz
	dGluYXRpb25BcmNoaXZlS2V5XxBCSVBYTmF2aWdhdGlvbkRlc3RpbmF0aW9uUmVxdWly
	ZWREZXN0aW5hdGlvbkF1eGlsaWFyeUtleXNBcmNoaXZlS2V5XxAnSVBYTmF2aWdhdGlv
	bkRlc3RpbmF0aW9uVGl0bGVBcmNoaXZlS2V5XxAsSVBYTmF2aWdhdGlvbkRlc3RpbmF0
	aW9uSWRlbnRpZmllckFyY2hpdmVLZXlWJGNsYXNzgASAAIALgAOAAoANXxAWY29tLmFw
	cGxlLnBob3Rvcy5hbGJ1bVtQaG90byBTaG9vdNMcHRIeHyBfEDFVWEF1eGlsaWFyeU5h
	dmlnYXRpb25TdG9yZU5hbWVzcGFjZURpY3RBcmNoaXZlS2V5XxAuVVhBdXhpbGlhcnlO
	YXZpZ2F0aW9uU3RvcmVHbG9iYWxEaWN0QXJjaGl2ZUtleYAFgAeACtMiIxIkJSZXTlMu
	a2V5c1pOUy5vYmplY3RzoKCABtIoKSorWiRjbGFzc25hbWVYJGNsYXNzZXNfEBNOU011
	dGFibGVEaWN0aW9uYXJ5oyosLVxOU0RpY3Rpb25hcnlYTlNPYmplY3TTIiMSLzEmoTCA
	CKEygAmABl8QHklQWFBob3Rvc09iamVjdExvY2FsSWRlbnRpZmllcl8QKzIwRjlGNzEy
	LTQwMTMtNDFBOC1BMUYzLURERUIyRUYwRUI1NC9MMC8wNDDSKCk3OF8QG1VYRGVzdGlu
	YXRpb25BdXhpbGlhcnlTdG9yZaI5LV8QG1VYRGVzdGluYXRpb25BdXhpbGlhcnlTdG9y
	ZdIjEjs9oTCACIAM0igpP0BVTlNTZXSiPy3SKClCQ18QGElQWE5hdmlnYXRpb25EZXN0
	aW5hdGlvbqJELV8QGElQWE5hdmlnYXRpb25EZXN0aW5hdGlvbgAIABEAGgAkACkAMgA3
	AEkATABRAFMAYgBoAHUAqADeASMBTQF8AYMBhQGHAYkBiwGNAY8BqAG0AbsB7wIgAiIC
	JAImAi0CNQJAAkECQgJEAkkCVAJdAnMCdwKEAo0ClAKWApgCmgKcAp4CvwLtAvIDEAMT
	AzEDNgM4AzoDPANBA0cDSgNPA2oDbQAAAAAAAAIBAAAAAAAAAEUAAAAAAAAAAAAAAAAA
	AAOI
	</data>
</dict>
</plist>
