<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseMinorVersion</key>
	<integer>1</integer>
	<key>DatabaseVersion</key>
	<integer>112</integer>
	<key>HistoricalMarker</key>
	<dict>
		<key>LastHistoryRowId</key>
		<integer>1154</integer>
		<key>LibraryBuildTag</key>
		<string>BF6AE7DA-59EF-4C66-A232-5C8176AF90C0</string>
		<key>LibrarySchemaVersion</key>
		<integer>4025</integer>
	</dict>
	<key>LibrarySchemaVersion</key>
	<integer>4025</integer>
	<key>MetaSchemaVersion</key>
	<integer>2</integer>
	<key>SnapshotComplete</key>
	<true/>
	<key>SnapshotCompletedDate</key>
	<date>2020-07-27T02:47:07Z</date>
	<key>SnapshotLastValidated</key>
	<date>2020-07-27T03:18:37Z</date>
	<key>SnapshotTables</key>
	<dict/>
</dict>
</plist>
