<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExpandedSidebarItemIdentifiers</key>
	<array>
		<string>A28132FF-360C-46F0-9EEF-54A43B49E654/L0/020</string>
	</array>
	<key>IPXWorkspaceControllerZoomLevelsKey</key>
	<dict>
		<key>kZoomLevelIdentifierPhotosGrid</key>
		<integer>1</integer>
	</dict>
	<key>LastAddToDestination</key>
	<string>6BCCC2FE-FB38-4B68-AD8B-4C7A4E002256/L0/040</string>
	<key>LastAddToDestinationDate</key>
	<date>2025-06-12T03:46:25Z</date>
	<key>LemonadeBookmarks</key>
	<data>
	PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHBs
	aXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3
	dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJz
	aW9uPSIxLjAiPgo8ZGljdD4KCTxrZXk+Ym9va21hcmtzPC9rZXk+Cgk8YXJyYXk+CgkJ
	PGRpY3Q+CgkJCTxrZXk+Y29sbGVjdGlvbklkZW50aWZpZXI8L2tleT4KCQkJPGRpY3Q+
	CgkJCQk8a2V5PnBob3RvS2l0U21hcnRBbGJ1bTwva2V5PgoJCQkJPGRpY3Q+CgkJCQkJ
	PGtleT5fMDwva2V5PgoJCQkJCTxkaWN0PgoJCQkJCQk8a2V5Pl92YWx1ZTwva2V5PgoJ
	CQkJCQk8aW50ZWdlcj4yMDM8L2ludGVnZXI+CgkJCQkJPC9kaWN0PgoJCQkJPC9kaWN0
	PgoJCQk8L2RpY3Q+CgkJCTxrZXk+aWQ8L2tleT4KCQkJPHN0cmluZz41REU3QjMyMC1G
	NEU5LTQ4MTEtQTZDNy0wNUEyNDlEQjNCNUQ8L3N0cmluZz4KCQkJPGtleT5raW5kPC9r
	ZXk+CgkJCTxzdHJpbmc+YWxidW08L3N0cmluZz4KCQk8L2RpY3Q+CgkJPGRpY3Q+CgkJ
	CTxrZXk+Y29sbGVjdGlvbklkZW50aWZpZXI8L2tleT4KCQkJPGRpY3Q+CgkJCQk8a2V5
	PnBob3RvS2l0U21hcnRBbGJ1bTwva2V5PgoJCQkJPGRpY3Q+CgkJCQkJPGtleT5fMDwv
	a2V5PgoJCQkJCTxkaWN0PgoJCQkJCQk8a2V5Pl92YWx1ZTwva2V5PgoJCQkJCQk8aW50
	ZWdlcj4xMDAwMDAwMjE4PC9pbnRlZ2VyPgoJCQkJCTwvZGljdD4KCQkJCTwvZGljdD4K
	CQkJPC9kaWN0PgoJCQk8a2V5PmlkPC9rZXk+CgkJCTxzdHJpbmc+QzI0Mzg0RTgtM0ZC
	QS00QzlDLUEwNUUtMjdFMEU1NTAxQTcyPC9zdHJpbmc+CgkJCTxrZXk+a2luZDwva2V5
	PgoJCQk8c3RyaW5nPnV0aWxpdGllczwvc3RyaW5nPgoJCTwvZGljdD4KCQk8ZGljdD4K
	CQkJPGtleT5jb2xsZWN0aW9uSWRlbnRpZmllcjwva2V5PgoJCQk8ZGljdD4KCQkJCTxr
	ZXk+bWFwPC9rZXk+CgkJCQk8ZGljdC8+CgkJCTwvZGljdD4KCQkJPGtleT5pZDwva2V5
	PgoJCQk8c3RyaW5nPjk2QUMyREY3LUUwOUEtNDIzMi1CMDBBLThDOUU2ODZGMDNGMjwv
	c3RyaW5nPgoJCQk8a2V5PmtpbmQ8L2tleT4KCQkJPHN0cmluZz5tYXA8L3N0cmluZz4K
	CQk8L2RpY3Q+CgkJPGRpY3Q+CgkJCTxrZXk+Y29sbGVjdGlvbklkZW50aWZpZXI8L2tl
	eT4KCQkJPGRpY3Q+CgkJCQk8a2V5PnBob3RvS2l0U21hcnRBbGJ1bTwva2V5PgoJCQkJ
	PGRpY3Q+CgkJCQkJPGtleT5fMDwva2V5PgoJCQkJCTxkaWN0PgoJCQkJCQk8a2V5Pl92
	YWx1ZTwva2V5PgoJCQkJCQk8aW50ZWdlcj4yMDI8L2ludGVnZXI+CgkJCQkJPC9kaWN0
	PgoJCQkJPC9kaWN0PgoJCQk8L2RpY3Q+CgkJCTxrZXk+aWQ8L2tleT4KCQkJPHN0cmlu
	Zz5GMjJCMzkxMS1DRjFBLTQ2RjAtQkFGNS05QkVFNDY0MDc3QkU8L3N0cmluZz4KCQkJ
	PGtleT5raW5kPC9rZXk+CgkJCTxzdHJpbmc+bWVkaWFUeXBlPC9zdHJpbmc+CgkJPC9k
	aWN0PgoJCTxkaWN0PgoJCQk8a2V5PmNvbGxlY3Rpb25JZGVudGlmaWVyPC9rZXk+CgkJ
	CTxkaWN0PgoJCQkJPGtleT5waG90b0tpdFNtYXJ0QWxidW08L2tleT4KCQkJCTxkaWN0
	PgoJCQkJCTxrZXk+XzA8L2tleT4KCQkJCQk8ZGljdD4KCQkJCQkJPGtleT5fdmFsdWU8
	L2tleT4KCQkJCQkJPGludGVnZXI+MjExPC9pbnRlZ2VyPgoJCQkJCTwvZGljdD4KCQkJ
	CTwvZGljdD4KCQkJPC9kaWN0PgoJCQk8a2V5PmlkPC9rZXk+CgkJCTxzdHJpbmc+OEJE
	NTMxQjEtMTQ1MS00MTcwLTg5NDEtRTE1NEVCN0E2OTg5PC9zdHJpbmc+CgkJCTxrZXk+
	a2luZDwva2V5PgoJCQk8c3RyaW5nPm1lZGlhVHlwZTwvc3RyaW5nPgoJCTwvZGljdD4K
	CQk8ZGljdD4KCQkJPGtleT5jb2xsZWN0aW9uSWRlbnRpZmllcjwva2V5PgoJCQk8ZGlj
	dD4KCQkJCTxrZXk+YWxsSXRlbXM8L2tleT4KCQkJCTxkaWN0Lz4KCQkJPC9kaWN0PgoJ
	CQk8a2V5PmlkPC9rZXk+CgkJCTxzdHJpbmc+MjFBRTEyRUQtNTkxMy00OTgxLUFGODYt
	QUFERTE1QzQ1MTQ5PC9zdHJpbmc+CgkJCTxrZXk+a2luZDwva2V5PgoJCQk8c3RyaW5n
	PnBlb3BsZTwvc3RyaW5nPgoJCTwvZGljdD4KCQk8ZGljdD4KCQkJPGtleT5jb2xsZWN0
	aW9uSWRlbnRpZmllcjwva2V5PgoJCQk8ZGljdD4KCQkJCTxrZXk+cGhvdG9LaXRTbWFy
	dEFsYnVtPC9rZXk+CgkJCQk8ZGljdD4KCQkJCQk8a2V5Pl8wPC9rZXk+CgkJCQkJPGRp
	Y3Q+CgkJCQkJCTxrZXk+X3ZhbHVlPC9rZXk+CgkJCQkJCTxpbnRlZ2VyPjEwMDAwMDAy
	MDE8L2ludGVnZXI+CgkJCQkJPC9kaWN0PgoJCQkJPC9kaWN0PgoJCQk8L2RpY3Q+CgkJ
	CTxrZXk+aWQ8L2tleT4KCQkJPHN0cmluZz5DNkFBMzYyNy04NDZCLTRGNEMtODBCMS05
	QkU1MTQyRDNGMDI8L3N0cmluZz4KCQkJPGtleT5raW5kPC9rZXk+CgkJCTxzdHJpbmc+
	dXRpbGl0aWVzPC9zdHJpbmc+CgkJPC9kaWN0PgoJPC9hcnJheT4KCTxrZXk+dmVyc2lv
	bjwva2V5PgoJPGludGVnZXI+MTE8L2ludGVnZXI+CjwvZGljdD4KPC9wbGlzdD4K
	</data>
	<key>PeoplePetsHomeVisibilitySourceLastKnownHasHumans</key>
	<false/>
	<key>PeoplePetsHomeVisibilitySourceLastKnownHasPets</key>
	<false/>
</dict>
</plist>
