<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GlobalValue</key>
	<dict>
		<key>isReadyForAnalysisDate</key>
		<date>2025-11-04T13:01:22Z</date>
	</dict>
	<key>MigrationAction</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeDateTimezone</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeDigitalZoomRatio</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeFocalLengthIn35mm</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeLocation</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_CinematicVideoPopulateDepthType</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_FixExtendedAttributeDateCreated</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_PopulateExtendedAttributes</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveOrphanedMediaAnalysisAttributes</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveOrphanedSceneprint</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_updateACVideos</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
		</dict>
		<key>ResumeMarker</key>
		<dict/>
	</dict>
	<key>PLDeferredCriticalMaintenanceTask</key>
	<date>2022-11-12T21:34:06Z</date>
	<key>PLLibraryServicesManager.LocaleIdentifier</key>
	<string>en_US</string>
</dict>
</plist>
