<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embeddingVersion</key>
	<string>1</string>
	<key>localeIdentifier</key>
	<string>en_US</string>
	<key>sceneTaxonomySHA</key>
	<string>87914a047c69fbe8013fad2c70fa70c6c03b08b56190fe4054c880e6b9f57cc3</string>
	<key>searchIndexVersion</key>
	<string>10</string>
</dict>
</plist>
