<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlacklistedMeaningsByMeaning</key>
	<dict/>
	<key>SceneWhitelist</key>
	<array>
		<string>Graduation</string>
		<string>Aquarium</string>
		<string>Food</string>
		<string>Ice Skating</string>
		<string>Mountain</string>
		<string>Cliff</string>
		<string>Basketball</string>
		<string>Tennis</string>
		<string>Jewelry</string>
		<string>Cheese</string>
		<string>Softball</string>
		<string>Football</string>
		<string>Circus</string>
		<string>Jet Ski</string>
		<string>Playground</string>
		<string>Carousel</string>
		<string>Paint Ball</string>
		<string>Windsurfing</string>
		<string>Sailboat</string>
		<string>Sunbathing</string>
		<string>Dam</string>
		<string>Fireplace</string>
		<string>Flower</string>
		<string>Scuba</string>
		<string>Hiking</string>
		<string>Cetacean</string>
		<string>Pier</string>
		<string>Bowling</string>
		<string>Snowboarding</string>
		<string>Zoo</string>
		<string>Snowmobile</string>
		<string>Theater</string>
		<string>Boat</string>
		<string>Casino</string>
		<string>Car</string>
		<string>Diving</string>
		<string>Cycling</string>
		<string>Musical Instrument</string>
		<string>Board Game</string>
		<string>Castle</string>
		<string>Sunset Sunrise</string>
		<string>Martial Arts</string>
		<string>Motocross</string>
		<string>Submarine</string>
		<string>Cat</string>
		<string>Snow</string>
		<string>Kiteboarding</string>
		<string>Squash</string>
		<string>Geyser</string>
		<string>Music</string>
		<string>Archery</string>
		<string>Desert</string>
		<string>Blackjack</string>
		<string>Fireworks</string>
		<string>Sportscar</string>
		<string>Feline</string>
		<string>Soccer</string>
		<string>Museum</string>
		<string>Baby</string>
		<string>Fencing</string>
		<string>Railroad</string>
		<string>Nascar</string>
		<string>Sky Surfing</string>
		<string>Bird</string>
		<string>Games</string>
		<string>Baseball</string>
		<string>Dressage</string>
		<string>Snorkeling</string>
		<string>Pyramid</string>
		<string>Kite</string>
		<string>Rowboat</string>
		<string>Golf</string>
		<string>Watersports</string>
		<string>Lightning</string>
		<string>Canyon</string>
		<string>Auditorium</string>
		<string>Night Sky</string>
		<string>Karaoke</string>
		<string>Skiing</string>
		<string>Parade</string>
		<string>Forest</string>
		<string>Hot Air Balloon</string>
		<string>Dragon Parade</string>
		<string>Easter Egg</string>
		<string>Monument</string>
		<string>Jungle</string>
		<string>Thanksgiving</string>
		<string>Jockey Horse</string>
		<string>Stadium</string>
		<string>Airplane</string>
		<string>Ballet</string>
		<string>Yoga</string>
		<string>Coral Reef</string>
		<string>Skating</string>
		<string>Wrestling</string>
		<string>Bicycle</string>
		<string>Tattoo</string>
		<string>Amusement Park</string>
		<string>Canoe</string>
		<string>Cheerleading</string>
		<string>Ping Pong</string>
		<string>Fishing</string>
		<string>Magic</string>
		<string>Reptile</string>
		<string>Winter Sport</string>
		<string>Waterfall</string>
		<string>Train</string>
		<string>Bonsai</string>
		<string>Surfing</string>
		<string>Dog</string>
		<string>Cake</string>
		<string>Sledding</string>
		<string>Sandcastle</string>
		<string>Glacier</string>
		<string>Lighthouse</string>
		<string>Equestrian</string>
		<string>Rafting</string>
		<string>Shore</string>
		<string>Hockey</string>
		<string>Santa Claus</string>
		<string>Formula One Car</string>
		<string>Sport</string>
		<string>Vehicle</string>
		<string>Boxing</string>
		<string>Rollerskating</string>
		<string>Underwater</string>
		<string>Orchestra</string>
		<string>Carnival</string>
		<string>Rocket</string>
		<string>Skateboarding</string>
		<string>Helicopter</string>
		<string>Performance</string>
		<string>Oktoberfest</string>
		<string>Water Polo</string>
		<string>Skate Park</string>
		<string>Animal</string>
		<string>Nightclub</string>
		<string>String Instrument</string>
		<string>Dinosaur</string>
		<string>Gymnastics</string>
		<string>Cricket</string>
		<string>Volcano</string>
		<string>Lake</string>
		<string>Aurora</string>
		<string>Dancing</string>
		<string>Concert</string>
		<string>Rock Climbing</string>
		<string>Hang Glider</string>
		<string>Rodeo</string>
		<string>Fish</string>
		<string>Art</string>
		<string>Motorcycle</string>
		<string>Volleyball</string>
		<string>Wake Boarding</string>
		<string>Badminton</string>
		<string>Motor Sport</string>
		<string>Sumo</string>
		<string>Parasailing</string>
		<string>Skydiving</string>
		<string>Kickboxing</string>
		<string>Pinata</string>
		<string>Foosball</string>
		<string>Go Kart</string>
		<string>Poker</string>
		<string>Kayak</string>
		<string>Swimming</string>
		<string>Atv</string>
		<string>Beach</string>
		<string>Dartboard</string>
		<string>Athletics</string>
		<string>Camping</string>
		<string>Tornado</string>
		<string>Billiards</string>
		<string>Rugby</string>
		<string>Airshow</string>
	</array>
</dict>
</plist>
