<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accountFlags</key>
	<data>
	CAEQABgB
	</data>
	<key>cloudAssetCountPerType</key>
	<dict>
		<key>public.image</key>
		<integer>17</integer>
		<key>public.movie</key>
		<integer>6</integer>
	</dict>
	<key>cloudAssetCountPerTypeLastCheckDate</key>
	<date>2022-12-31T23:31:04Z</date>
	<key>hasBatteryBudgetKey</key>
	<true/>
	<key>hasCellularBudgetKey</key>
	<true/>
	<key>hasValidSystemBudgetKey</key>
	<true/>
	<key>iCloudLibraryExists</key>
	<true/>
	<key>initialSyncDate</key>
	<date>2022-12-31T23:31:08Z</date>
	<key>lastCompletePrefetchDate</key>
	<date>2023-01-01T15:28:36Z</date>
	<key>lastSyncDate</key>
	<date>2023-01-01T15:44:07Z</date>
</dict>
</plist>
