<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstSeenDates</key>
	<dict>
		<key>com.apple.photos.CPAnalytics.assetCollectionBlocked</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.assetCollectionDeleted</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.assetCollectionFavorited</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.assetCollectionMoviePlayed</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.assetCollectionUnfavorited</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.assetCollectionViewed</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.assetExportItemPreparationCompleted</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.assetExportPreparationCanceled</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.assetExportPreparationCompleted</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.assetExportPreparationFailed</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.assetFavorited</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.assetUnfavorited</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.assetViewed</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.assetsDeleted</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.exitEdit</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.firstTimeExperienceNotReady</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.firstTimeExperienceReady</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelected</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeCMMPublishedShare</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeCMMReceivedShare</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumAccept</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumCoalescedWithComments</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumCoalescedWithCommentsAndLikes</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumComment</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumDecline</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumInvitation</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumLike</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouInboxItemSelectedWithTypeSharedAlbumPost</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouTabOpenedFromInAppUserNavigation</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouTabOpenedFromNotification</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouTabOpenedFromOtherURL</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouTabOpenedFromStateRestoration</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouTabOpenedFromUndefined</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.forYouTabOpenedFromWidget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeAlbumGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeAlbumListGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeCMMInviteGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeCMMSuggestionGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeCPLCMMSuggestionGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeDebugGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeFooterGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeInboxGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeListViewGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeMemoryRowGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeNoContentGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeRecentPhotosGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeRecentSearchesGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSearchZeroKeywordGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSharedAlbumActivityGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSharedAlbumGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSharedAlbumInviteGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSuggestedEditGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSuggestionGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSurveyCongratulations</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeSurveyQuestionGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetSeenWithTypeTapToRadarGadget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetWithTypeMemoryRowGadgetSelectedAccessoryButtonWithTypeSeeAll</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.gadgetWithTypeSharedAlbumGadgetSelectedAccessoryButtonWithTypeSeeAll</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.mediaViewed</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryCreatedViaAddToMemories</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryNotificationResponded</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryNotificationSeen</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryOpenedFromInAppUserNavigation</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryOpenedFromNotification</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryOpenedFromOtherURL</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryOpenedFromStateRestoration</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryOpenedFromUndefined</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryOpenedFromWidget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryPlayedFromInAppUserNavigation</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryPlayedFromNotification</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryPlayedFromOtherURL</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryPlayedFromStateRestoration</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryPlayedFromUndefined</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.memoryPlayedFromWidget</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigatedToSharedAlbumActivityViewFromCollageView</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigatedToSharedAlbumActivityViewFromRecentActivityEntry</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigatedToSharedAlbumActivityViewFromSeeAllButton</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.favorites</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.hidden</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.imports</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.animated</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.bursts</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.depthEffect</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.livePhotos</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.longExposures</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.panoramas</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.screenrecordings</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.screenshots</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.selfPortraits</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.slomoVideos</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.timelapses</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.mediaTypes.videos</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.people</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.places</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.recentlyedited</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.recentlysaved</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.navigationList.trashBin</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExited</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith1-10Characters</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith101+Characters</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith11+Hashtags</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith11-20Characters</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith1Hashtags</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith21-30Characters</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith2Hashtags</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith31-50Characters</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith3Hashtags</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith4-5Hashtags</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith51-100Characters</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.oneUpCaptionEditExitedWith6-10Hashtags</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsAllAssetsCounted</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth1</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth10</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth11-12</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth13-15</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth16-20</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth2</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth21-30</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth3</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth31-50</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth4</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth5</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth51+</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth6</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth7</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth8</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsNavigatedToDepth9</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsShowMoreButtonSelected</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsSummaryAssetsCounted</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.photosDetailsSummaryButtonSelected</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.selectModeEntered</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.shareCanceled</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.shareCompleted</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.sharedAlbumInvitationAccepted</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.sharedAlbumInvitationDeclined</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.sharedAlbumInvitationReportedAsJunk</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.sharedAlbumsActivityFeedPostLiked</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.sharedAlbumsActivityFeedPostUnliked</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportCancelledAfter10.0-60.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportCancelledAfter2.0-10.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportCancelledAfter&lt;2.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportCancelledAfter&gt;60.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter0.0-1.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter1.0-2.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter10.0-20.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter120.0-300.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter2.0-5.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter20.0-60.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter300.0-600.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter5.0-10.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter60.0-120.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter600.0-3600.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter&lt;0.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportEndedSuccessfullyAfter&gt;3600.0Seconds</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportFailed</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowExportStarted</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.0-0.1</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.1-0.2</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.2-0.2</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.3-0.4</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.4-0.5</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.5-0.6</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.6-0.7</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.7-0.8</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.8-0.9</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction0.9-1.0</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction1.0-1.5</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction1.5-2.0</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction2.0-3.0</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction3.0-5.0</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction&lt;0.0</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedAfterTimeFraction&gt;5.0</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedByEndReached</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedByUndefined</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackEndedByUser</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStarted</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith0-Assets</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith1-5Assets</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith1001+Assets</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith101-200Assets</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith11-15Assets</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith16-20Assets</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith201-300Assets</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith21-30Assets</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith301-500Assets</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith31-50Assets</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith501-1000Assets</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith51-100Assets</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.slideshowPlaybackStartedWith6-10Assets</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.tabIdentifierChanged</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.viewScrolledToBottom</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.viewScrolledToInitialPosition</key>
		<string>8/17/20</string>
		<key>com.apple.photos.CPAnalytics.widget.open</key>
		<string>8/17/20</string>
		<key>memoryMoviePlayed</key>
		<string>8/17/20</string>
		<key>memoryViewed</key>
		<string>8/17/20</string>
		<key>mobileSlideShowActive</key>
		<string>8/17/20</string>
		<key>screen_CuratedLibrary_AllPhotos</key>
		<string>8/17/20</string>
		<key>screen_CuratedLibrary_Days</key>
		<string>8/17/20</string>
		<key>screen_CuratedLibrary_Months</key>
		<string>8/17/20</string>
		<key>screen_CuratedLibrary_Years</key>
		<string>8/17/20</string>
		<key>screen_FavoriteMemories</key>
		<string>8/17/20</string>
		<key>screen_IPXFeedViewController</key>
		<string>8/17/20</string>
		<key>screen_MFMailComposeViewController</key>
		<string>8/17/20</string>
		<key>screen_MFMessageComposeViewController</key>
		<string>8/17/20</string>
		<key>screen_Memories</key>
		<string>8/17/20</string>
		<key>screen_MemoriesFeed</key>
		<string>8/17/20</string>
		<key>screen_MemoriesWidget</key>
		<string>8/17/20</string>
		<key>screen_ObjectManipulationViewController</key>
		<string>8/17/20</string>
		<key>screen_PMEditorNavigationController</key>
		<string>8/17/20</string>
		<key>screen_PMiOSMainViewController</key>
		<string>8/17/20</string>
		<key>screen_PXCMMAssetsViewController</key>
		<string>8/17/20</string>
		<key>screen_PXEducationalTipViewController</key>
		<string>8/17/20</string>
		<key>screen_PXFeedbackTapToRadarViewController</key>
		<string>8/17/20</string>
		<key>screen_PXForYouGadgetViewController</key>
		<string>8/17/20</string>
		<key>screen_PXPeopleCollectionViewController</key>
		<string>8/17/20</string>
		<key>screen_PXPeopleDetailViewController</key>
		<string>8/17/20</string>
		<key>screen_PXPlacesMapInfoViewController</key>
		<string>8/17/20</string>
		<key>screen_PXPlacesMapViewController</key>
		<string>8/17/20</string>
		<key>screen_PXSurveyRadarReporterViewController</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_Collection</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_CuratedLibraryDays</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_CuratedLibraryMonths</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_CuratedLibraryYears</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_Memories</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_Moment</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_NonTracking</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_OneUpAccessory</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_OtherAlbums</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_People</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_Places</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_RelatedWidget</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_Search</key>
		<string>8/17/20</string>
		<key>screen_PhotosDetails_Year</key>
		<string>8/17/20</string>
		<key>screen_PhotosView</key>
		<string>8/17/20</string>
		<key>screen_SLComposeViewController</key>
		<string>8/17/20</string>
		<key>screen_UIImagePickerController</key>
		<string>8/17/20</string>
		<key>screen__UIActivityUserDefaultsViewController</key>
		<string>8/17/20</string>
		<key>slideshowExported</key>
		<string>8/17/20</string>
		<key>slideshowPlayed</key>
		<string>8/17/20</string>
	</dict>
	<key>lastSeenDates</key>
	<dict>
		<key>screen_PhotosView</key>
		<string>8/23/20</string>
	</dict>
</dict>
</plist>
