<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseMinorVersion</key>
	<integer>1</integer>
	<key>DatabaseVersion</key>
	<integer>112</integer>
	<key>HistoricalMarker</key>
	<dict>
		<key>LastHistoryRowId</key>
		<integer>502</integer>
		<key>LibraryBuildTag</key>
		<string>E3E46F2A-7168-4973-AB3E-5848F80BFC7D</string>
		<key>LibrarySchemaVersion</key>
		<integer>2622</integer>
	</dict>
	<key>LibrarySchemaVersion</key>
	<integer>2622</integer>
	<key>MetaSchemaVersion</key>
	<integer>2</integer>
	<key>SnapshotComplete</key>
	<true/>
	<key>SnapshotCompletedDate</key>
	<date>2019-08-24T02:50:48Z</date>
	<key>SnapshotTables</key>
	<dict/>
</dict>
</plist>
