<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseMinorVersion</key>
	<integer>1</integer>
	<key>DatabaseVersion</key>
	<integer>112</integer>
	<key>HistoricalMarker</key>
	<dict>
		<key>LastHistoryRowId</key>
		<integer>164</integer>
		<key>LibraryBuildTag</key>
		<string>E371079C-71D9-4C33-91F6-54B17B4B3066</string>
		<key>LibrarySchemaVersion</key>
		<integer>2622</integer>
	</dict>
	<key>LibrarySchemaVersion</key>
	<integer>2622</integer>
	<key>MetaSchemaVersion</key>
	<integer>2</integer>
	<key>SnapshotComplete</key>
	<true/>
	<key>SnapshotCompletedDate</key>
	<date>2021-12-30T03:56:44Z</date>
	<key>SnapshotLastAttemptStartDate</key>
	<date>2021-12-30T03:56:44Z</date>
	<key>SnapshotTables</key>
	<dict>
		<key>RKAdminData</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>33ba9a656c3588b4bdc1e44575e794e1d256d625</string>
		</dict>
		<key>RKAlbum</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>3b09c246d3a74e7f57265e6ab6abb0d333665215</string>
		</dict>
		<key>RKAlbumVersion</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>fc7c9baa656623406304fcc10474e561dff5a53a</string>
		</dict>
		<key>RKBookmark</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>33e3f9220c22909667ab63c0070757b8ffe1aeac</string>
		</dict>
		<key>RKCustomSortOrder</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>d65281f0c3f9e519cc5a00e21bb5ece35aa03cbd</string>
		</dict>
		<key>RKFace</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>dd0f12962d72c2e53f483bd3e02e18f3bbf423ac</string>
		</dict>
		<key>RKFolder</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>8712074c0728e02c777705031c0e16882eda9bff</string>
		</dict>
		<key>RKImageProxyState</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>5b0f369a4df955c63b1a636980e76e3d30d99fa9</string>
		</dict>
		<key>RKImportGroup</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>0ad244b52516a1cac3ea5532af1e60b3f74b4af7</string>
		</dict>
		<key>RKKeyword</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>85669e2bf25048d655ed8042d1607d50587de1fc</string>
		</dict>
		<key>RKKeywordForVersion</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>cf61584fa6191e45a64311ae4617418fde4d5263</string>
		</dict>
		<key>RKMaster</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>a609e1942bd9e5d69f3532e1e3e091156f5c3469</string>
		</dict>
		<key>RKModelResource</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>c677e8613d841620d96ed750d1a720bd283a0df7</string>
		</dict>
		<key>RKVersion</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>b2d209286b8f7b68a5fba0fb84e364ce55d83608</string>
		</dict>
		<key>RKVersionAnalysisState</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>2a36598c306df54e303c14ccb19bcdeae2d85bf5</string>
		</dict>
		<key>RKVolume</key>
		<dict>
			<key>0000000000.lisj</key>
			<string>5d16bc7903a060b2e879d148100441b1ac5c1629</string>
		</dict>
	</dict>
</dict>
</plist>
