<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2020-04-19T15:27:34Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2020-04-19T15:27:34Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2020-04-19T15:27:35Z</date>
	<key>BackgroundJobSearch</key>
	<date>2020-04-19T15:27:35Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2020-04-19T15:27:34Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2020-04-19T15:27:35Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2020-04-11T20:10:27Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2020-04-11T20:00:24Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2020-04-19T15:27:35Z</date>
	<key>SiriPortraitDonation</key>
	<date>2020-04-19T15:27:35Z</date>
</dict>
</plist>
