<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2020-06-24T04:02:13Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2020-06-24T04:02:12Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2020-06-24T04:02:13Z</date>
	<key>BackgroundJobSearch</key>
	<date>2020-06-24T04:02:13Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2020-06-24T04:02:12Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2020-06-24T04:02:13Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2020-05-30T02:16:06Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2020-05-29T04:31:37Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2020-06-24T04:02:13Z</date>
	<key>SiriPortraitDonation</key>
	<date>2020-06-24T04:02:13Z</date>
</dict>
</plist>
