<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FaceIDModelLastGenerationKey</key>
	<date>2019-12-01T15:27:51Z</date>
	<key>LastContactClassificationKey</key>
	<date>2019-11-13T03:46:29Z</date>
</dict>
</plist>
