<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FaceIDModelLastGenerationKey</key>
	<date>2020-04-16T06:52:40Z</date>
	<key>LastContactClassificationKey</key>
	<date>2020-04-16T06:52:42Z</date>
</dict>
</plist>
