<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DuplicateSharedLibraryEnabledMarker</key>
	<true/>
	<key>GlobalValue</key>
	<dict>
		<key>isReadyForAnalysisDate</key>
		<date>2025-11-04T13:01:22Z</date>
	</dict>
	<key>MigrationAction</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>PLModelMigrationAction_AddDuplicateBackgroundJobItems</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingAdjustedMediaMetadata</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>3</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeDateTimezone</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeDateTimezoneFromCloudMaster</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeDigitalZoomRatio</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeFocalLengthIn35mm</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeLocation</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributeOrientation</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributes_2024</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_AddMissingExtendedAttributes_2025</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_CinematicVideoPopulateDepthType</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_DrawAssetPersonEdges</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>3</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_FixDuplicateMergeCrashRecoveryAssets</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>3</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_FixExtendedAttributeDateCreated</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_PopulateExtendedAttributes</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_PrepareSharedAssetContainerUpdateWorker</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_RebuildHighlights</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_ReevaluatePanoramaImageAssets</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>3</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveAllPurgeableClones</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveOrphanGeneratedAssetDescriptionNodes</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>3</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveOrphanedMediaAnalysisAttributes</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveOrphanedSceneprint</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
			<key>PLModelMigrationAction_RemoveUnusedBackgroundJobWorkItems</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_ResetTripHighlightEnrichmentVersion</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_RevalidateFaceAreaPoints</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_UpdateAssetAdjustmentsState</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_UpdateDayHighlightDateTitles</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_dedupeResourcesWithSimilarCompactUTI</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_setInitialIsDetectedScreenshotValue</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_setInitialIsRecentlySavedValue</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_setInitialhasPeopleSceneMidOrGreaterConfidenceValue</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2025-11-04T13:08:34Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2025-11-04T13:08:34Z</date>
			</dict>
			<key>PLModelMigrationAction_updateACVideos</key>
			<dict>
				<key>PLBackgroundMigrationStartDate</key>
				<date>2022-11-12T21:33:04Z</date>
				<key>PLBackgroundMigrationStatus</key>
				<integer>2</integer>
				<key>PLBackgroundMigrationStatusAttempts</key>
				<integer>1</integer>
				<key>PLBackgroundMigrationStatusDate</key>
				<date>2022-11-12T21:33:04Z</date>
			</dict>
		</dict>
		<key>ResumeMarker</key>
		<dict/>
	</dict>
	<key>PLDeferredCriticalMaintenanceTask</key>
	<date>2025-12-04T03:13:09Z</date>
	<key>PLLibraryServicesManager.LocaleIdentifier</key>
	<string>en_US</string>
</dict>
</plist>
