<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FaceIDModelLastGenerationKey</key>
	<date>2022-11-12T21:51:03Z</date>
	<key>PetIDModelLastGenerationKey</key>
	<date>2022-11-12T21:51:03Z</date>
</dict>
</plist>
