<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>545</integer>
	<key>LibraryBuildTag</key>
	<string>BEA5F0E8-BA6B-4462-8F73-3E53BBE4C943</string>
	<key>LibrarySchemaVersion</key>
	<integer>3301</integer>
</dict>
</plist>
