<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tmSyncCounter</key>
	<integer>1313</integer>
	<key>tmSyncUuid</key>
	<string>gnzT9uA8TbqhQkzYmfRNoQ</string>
</dict>
</plist>
