<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentPayloadVersion</key>
	<integer>2</integer>
	<key>snapshotDate</key>
	<date>2025-12-20T22:21:08Z</date>
	<key>snapshotPayloadVersion</key>
	<integer>2</integer>
</dict>
</plist>
