<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>83</integer>
	<key>LibraryBuildTag</key>
	<string>FF4B0E6D-6231-4212-91F6-7397F96959BD</string>
	<key>LibrarySchemaVersion</key>
	<integer>2622</integer>
</dict>
</plist>
