<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>212</integer>
	<key>LibraryBuildTag</key>
	<string>B6ED5567-1F65-47A8-B2E6-E7E0FA421F96</string>
	<key>LibrarySchemaVersion</key>
	<integer>4025</integer>
</dict>
</plist>
