name: Tests

on: [push, pull_request]

jobs:
  ruff:  # https://beta.ruff.rs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: pip install --user ruff  # Lint Python twice: 1. Whole repo, 2. Exclude tests/
    - run: ruff --format=github --line-length=320 --target-version=py39
                --ignore=E402,E712,E721,E721,E722,E741,F401,F403,F405,F541,F601,F811,F822,F841 .
    - run: ruff --format=github --line-length=320 --target-version=py39
                --exclude=tests/ --ignore=E402,E721,E722,E741,F401,F403,F405,F541,F822,F841 .
  build:
    runs-on: ${{ matrix.os }}
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    strategy:
      max-parallel: 4
      matrix:
        os: [macos-latest, ubuntu-latest]
        python-version: ['3.10', '3.11']
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip' # caching pip dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r dev_requirements.txt
        pip install -r requirements.txt
    - name: Install exiftool
      run: |
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
        if [ "$RUNNER_OS" == "Linux" ]; then
          (echo; echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"') >> /home/runner/.bash_profile
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          export PATH=/home/linuxbrew/.linuxbrew/bin:$PATH
        elif [ "$RUNNER_OS" == "macOS" ]; then
          echo "macOS: brew should already be on path"
        else
          echo "$RUNNER_OS not supported"
          exit 1
        fi
        brew install exiftool
    - name: Test with pytest
      run: |
        python -m pytest -v tests/
    - name: Send failure notification
      if: ${{ failure() }}
      run: |
        curl \
          -H "Click: https://github.com/RhetTbull/osxphotos/actions/" \
          -d "osxphotos test failed" \
           ntfy.sh/rhettbull_github_actions
