<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudVersion</key>
	<string>16B1936C-248E-480A-BD75-6406D987F9C6</string>
	<key>localVersionToken</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwRGRobIVUkbnVsbNINDg8Q
	ViRjbGFzc18QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmABoAC0xIT
	DRQWGFdOUy5rZXlzWk5TLm9iamVjdHOhFYADoReABIAFXxAkODcyRUIyNjItMEE3Mi00
	NkRGLThCQUUtRUI0MDMxQTMwNkRBEDvSHB0eH1okY2xhc3NuYW1lWCRjbGFzc2VzXE5T
	RGljdGlvbmFyeaIeIFhOU09iamVjdNIcHSIjXxAZX05TUGVyc2lzdGVudEhpc3RvcnlU
	b2tlbqMkJSBfEBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2VuXxAYTlNQZXJzaXN0ZW50
	SGlzdG9yeVRva2VuAAgAEQAaACQAKQAyADcASQBMAFEAUwBbAGEAZgBtAJIAlACWAJ0A
	pQCwALIAtAC2ALgAugDhAOMA6ADzAPwBCQEMARUBGgE2AToBVgAAAAAAAAIBAAAAAAAA
	ACYAAAAAAAAAAAAAAAAAAAFx
	</data>
	<key>storeUUID</key>
	<string>872EB262-0A72-46DF-8BAE-EB4031A306DA</string>
</dict>
</plist>
