<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVGxbtwwDP0XzoYhybJleSsypFmSogekQ9GBZ8s5FZZlSHSWw/17aftStEU1CBL5+N4j
	eYXgCAckhO4KATO59Nn5twtBV1VSFffYNz/QBTqtZVNATN7NhOTjDJ28FTDGFJBeXcpH
	qID34/00j3EjPq9+Gp7XcHYJOlD6sZYGCsBl+V0ExohSlNIoTuT+4gJ+de/+SIoClglp
	02FkwP7lBKyLw881U2AzGbrv1//4cDOeJzdAR2l1zOuI/PyWN09xHPl7QlrTvRVW8fOy
	0kOcIvsUpa5rpdvKGl3VLd9MsLWdyfc7RUb64lLP+n5ytt1KWrEfKa0SVrWWx8WoTyvF
	V5xWt0Gk3U/bCmOFkUIXfxOZekPVuha2FU1TKWvrRtT/oB4PvUZK02ijrFDKGvbIYzk6
	e+DF7T3dv3Gm9BFC9gPdiFN2jPfDRjn6fTmngOk+gY/FPv2Z72MoeW+TK5dLZJbbj9sv
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentRenderTypes</key>
	<integer>16384</integer>
	<key>adjustmentTimestamp</key>
	<date>2026-02-13T03:51:34Z</date>
</dict>
</plist>
